
{{define "chat-channel-detail"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <input type="hidden" id="_csrf" value="{{._csrf}}" />
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
           <div class="row">
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-primary card-header-icon">
                            <div class="card-icon p-0">
                            <i class="material-icons">check_circle_outline</i>
                            </div>
                            <p class="card-category">Status</p>
                            <h3 class="card-title">{{.insightFollowers.Status}}
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-success card-header-icon">
                            <div class="card-icon p-0">
                            <i class="material-icons">people</i>
                            </div>
                            <p class="card-category">Followers</p>
                            <h3 class="card-title">{{.insightFollowers.Followers}}
                            <small>P</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-info card-header-icon">
                            <div class="card-icon p-0">
                            <i class="material-icons">gps_fixed</i>
                            </div>
                            <p class="card-category">Targeted Reaches</p>
                            <h3 class="card-title">{{.insightFollowers.TargetedReaches}}
                            <small>P</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6">
                    <div class="card card-stats">
                        <div class="card-header card-header-danger card-header-icon">
                            <div class="card-icon p-0">
                            <i class="material-icons">pan_tool</i>
                            </div>
                            <p class="card-category">Blocks</p>
                            <h3 class="card-title">{{.insightFollowers.Blocks}}
                            <small>P</small>
                            </h3>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 row">
                    <div class="col-md-12">
                        <div style="height: 84%;" class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Profile Image</h4>
                            </div>
                            <div class="card-body">
                                <img class="img-fluid" src="{{ .detail.ChaImage }}" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 row">
                    <div class="col-md-12">
                        <div style="height: 84%;" class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Rich Menu</h4>
                            </div>
                            <div name="deplay-image-rich-menu" class="card-body">
                                {{ if not .richMenuDefault }}
                                <a href="/admin/richmenu/create"> 
                                    <button type="button" class="btn btn-warning mt-3">
                                        <i class="material-icons">cloud_download</i>
                                        Create Rich Menu
                                    </button>
                                </a>
                                {{ end }}
                                {{if not .urlRichMenu.Name }}
                                    <button type="button" class="btn btn-warning mt-3" value="{{ .detail.ID }}" name="{{ .richMenuDefault }}" id="download_rich_menu">
                                        <i class="material-icons">cloud_download</i>
                                        Download
                                    </button>
                                {{ else }}
                                    <img class="img-fluid" src="{{ .urlRichMenu.Value }}" />
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 row">
                    <div class="col-md-12">
                        <div style="height: 84%;" class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title ">Promotion Register</h4>
                            </div>
                            <div class="card-body">
                               
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">chat channel detail</h4>
                    </div>
                    <div class="card-body">
                        <div class="row">
                            <div class="col-3">
                                Name:
                            </div>
                            <div class="col-8">
                                {{ .detail.ChaName }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                ChannelID:
                            </div>
                            <div class="col-8">
                                {{ .detail.ChaChannelID }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                PhoneNumber:
                            </div>
                            <div class="col-8">
                                {{ .detail.ChaPhoneNumber }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                LineID:
                            </div>
                            <div class="col-8">
                                {{ .detail.ChaLineID }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                WebSite:
                            </div>
                            <div class="col-8">
                                {{ .detail.ChaWebSite }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                Address:
                            </div>
                            <div class="col-8">
                                {{ .detail.ChaAddress }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                WelcomeMessage:
                            </div>
                            <div class="col-8">
                                {{ .detail.ChaWelcomeMessage }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                ChannelSecret:
                            </div>
                            <div class="col-8">
                                {{ .detail.ChaChannelSecret }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-3">
                                ChannelAccessToken:
                            </div>
                            <div id="access_token" class="col-7">
                                {{ .detail.ChaChannelAccessToken }}
                            </div>
                        </div>
                        <a href="/admin/chat_channel/{{ .detail.ID }}/edit">
                            <button type="button" class="btn btn-warning mt-3">
                                <i class="material-icons">edit</i>
                                Edit
                            </button>
                        </a>
                        <a href="/admin/chat_channel/{{ .detail.ID }}/broadcast">
                            <button type="button" class="btn btn-primary mt-3">
                                <i class="material-icons">chat_bubble</i>
                                Broadcast
                            </button>
                        </a>
                        <button id="get_access_token" value="{{ .detail.ID }}" type="button" class="btn btn-success mt-3">
                            <i class="material-icons">cached</i>
                            Get New Access Token
                        </button>
                        <button id="remove" value="{{ .detail.ID }}" type="button" class="btn btn-danger mt-3">
                            <i class="material-icons">delete</i>
                            remove
                        </button>
                    </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Detail</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" style="height: 284px;">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>Name</th>
                                        <th>Value</th>
                                    </thead>
                                    <tbody>
                                    {{ with .deplayDetailChatChannels }}
                                    {{ range . }}
                                        <tr name="{{ .ID }}" id="{{ .Name }}">
                                            <td>{{ .Name }}</td>
                                            <td>{{ .Value }}</td>
                                        </tr>
                                    {{ end }}
                                    {{ end }}
                                    </tbody>
                                </table>
                            </div>
                            <button id="add_LIIF_register" value="{{ .detail.ID }}" type="button" class="btn btn-light mt-3">
                                Add Register LIFF
                            </button>
                        </div>
                    </div>
                </div>
           </div>
           <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Event Log</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" style="height: 180px;">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>LineID</th>
                                        <th>ReplyToken</th>
                                        <th>Customer</th>
                                        <th>Text</th>
                                        <th>CreatedAt</th>
                                        <th></th>
                                    </thead>
                                    <tbody id="body-event-logs">
                                    </tbody>
                                </table>
                            </div>
                            <div class="row p-0 m-0">
                                <div class="ml-auto" id="event_logs" name="event_logs">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">Action Log</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive" style="height: 180px;">
                                <table class="table">
                                    <thead class="text-primary">
                                        <th>Name</th>
                                        <th>Status</th>
                                        <th>Customer</th>
                                        <th>CreatedAt</th>
                                    </thead>
                                    <tbody id="body-action-logs">
                                    </tbody>
                                </table>
                            </div>
                            <div class="row p-0 m-0">
                                <div class="ml-auto" id="action_logs" name="action_logs">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                        <div class="card">
                       <div class="card-header card-header-primary">
                         <h4 class="card-title ">Setting List</h4>
                       </div>
                       <div class="card-body">
                         <div class="table-responsive">
                           <table class="table">
                             <thead class=" text-primary">
                              <th>Name</th>
                              <th>Value</th>
                              <th>Detail</th>
                              <th>create at</th>
                              <th></th>
                             </thead>
                             <tbody>
                              {{if not .list}}<tr><td colspan="11" class="text-center">No content</td></tr> {{end}}
                               {{ with .list }}
                                 {{ range . }}
                                  <tr name="row_{{ .ID }}">
                                    <td>{{.Name}}</td>
                                    <td>{{.Value}}</td>
                                    <td>{{.Detail}}</td>
                                    <td>{{ .CreatedAt.Format "Mon Jan 2 2006" }}</td>
                                    <td class="td-actions text-right">
                                      <a href="/admin/setting/{{ .ID }}/edit">
                                        <button type="button" rel="tooltip" class="btn btn-warning">
                                            <i class="material-icons">edit</i>
                                        </button>
                                      </a>
                                    </td>
                                  </tr>
                                 {{ end }} 
                               {{ end }}
                             </tbody>
                           </table>
                           <div class="row p-0 m-0">
                            <div class="ml-auto" name="pagination">
                              {{ template "pagination" .pagination }}
                            </div>
                           </div>
                         </div>
                       </div>
                    </div>
                </div>
            </div>
         </div>
       </div>
      {{ template "footer" }}
    </div>
  </div>
 
  {{ template "script" }}
    <script>
        (function ($) {
            let _csrf = $("#_csrf").val()
            let chat_channel_id = $("#add_LIIF_register").val()
            let actContainer = $("#action_logs")
            let eveContainer = $("#event_logs")

            function templateActionLogs (records) {
                let elm = ""
                records.map(row => {
                    elm += `<tr name="row_${row.id}">
                        <td>${row.act_name}</td>
                        <td>${row.act_status}</td>
                        <td>${row.customer.cus_display_name}</td>
                        <td>${row.created_at}</td>
                    </tr>`
                })
                
                return elm
            }

            function templateEventLogs (records) {
                let elm = ""
                records.map(row => {
                    elm += `<tr name="${row.id}">
                        <td>${row.even_line_id}</td>
                        <td>${row.even_reply_token}</td>
                        <td>${row.customer.cus_display_name }</td>
                        <td>${row.even_text}</td>
                        <td>${row.created_at}</td>
                    </tr>`
                })
                
                return elm
            }

            $.ajax({type: 'GET',
                url: `/admin/action_log?chat_channel_id=${chat_channel_id}`,
            }).done(response => {
                actContainer.pagination({
                    prevText: '<span aria-hidden="true">&laquo;</span>',
                    nextText: '<span aria-hidden="true">&raquo;</span>',
                    dataSource: response.data,
                    callback: function(data, pagination) { 
                        var html = templateActionLogs(data)
                        $("#body-action-logs").html(html)
                    }
                })
            })

            $.ajax({type: 'GET',
                url: `/admin/event_log?limit=10&chat_channel_id=${chat_channel_id}`,
            }).done(response => {
                eveContainer.pagination({
                    prevText: '<span aria-hidden="true">&laquo;</span>',
                    nextText: '<span aria-hidden="true">&raquo;</span>',
                    dataSource: response.data,
                    callback: function(data, pagination) { 
                        var html = templateEventLogs(data)
                        $("#body-event-logs").html(html)
                    }
                })
            })

            $("#download_rich_menu").click(function () {
                let richMenuId = $(this).attr("name")
                let chatChannelId = $(this).val()
                const data = new URLSearchParams();
                data.append("_csrf", _csrf);

                fetch(`/admin/richmenu/${richMenuId}/download_image?chat_channel_id=${chatChannelId}`,{
                    method: "PATCH",
                    body: data
                }).then(res => {
                    if (res.status === 200) {
                        $("#download_rich_menu").remove()
                        return res.json()
                    }
                }).then(data => {
                    $("div [name='deplay-image-rich-menu']").append(`
                        <img class="img-fluid" src="${data.urlImage}" />
                    `)
                    data.urlImage
                })
            })
            
            $("#get_access_token").on("click",function () {
                let _csrf = $("#_csrf").val()
                const data = new URLSearchParams();
                data.append("_csrf", _csrf);
                fetch(window.location.href+"/channel_access_token",{
                    method: "PATCH",
                    body: data
                }).then(res => {
                    if (res.status !== 200) {
                        throw ""
                    }
                    return res.json();
                }).then(data => {
                    Swal.fire('New Access Token', '', 'success').then(result => {
                        $("#access_token").text(data.access_token)
                    })
                }).catch(err => Swal.fire('New Access Token','','error'))
            })

            $("#add_LIIF_register").on("click",function () {
                let LIFFregister = $("#LIFFregister").attr("name")
                console.log(LIFFregister)
                const data = new URLSearchParams();
                data.append("_csrf", _csrf);

                if (LIFFregister === undefined) {
                    LIFFregister = 0
                }

                data.append("id", LIFFregister)
                data.append("name", "LIFFregister")
                fetch(window.location.href+"/add_liff_register",{
                    method: "PATCH",
                    body: data
                }).then(res => {
                    if (res.status === 200) {
                        return res.json();
                    }
                }).then(data => {
                    Swal.fire(
                    'New Access Token',
                    '',
                    'success'
                    )
                    // $("#LIFFregister").replaceWith(`
                    // <button class="btn btn-primary btn-fab btn-fab-mini btn-round">
                    //         <i class="material-icons">done</i>
                    // </button>`)
                }).catch(err => Swal.fire(
                    'New Access Token',
                    '',
                    'error'
                ))
            })
        })(jQuery);
    </script>
</body>

</html>

{{end}}
