
{{define "chat-answer-form"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <input type="hidden" id="_csrf" value="{{._csrf}}" />
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
           <div class="row">
             <div class="col-6">
              <div class="card">
                <div class="card-header card-header-primary">
                  <h4 class="card-title ">chat answer</h4>
                </div>
                <div class="card-body">
                 <form method="{{.method}}" name="create-chat-answer">
                    <div class="row">
                      <div class="col-md-12 mt-2">
                        <div class="form-group">
                          <label class="bmd-label-floating">Input</label>
                          <input name="Input" id="Input" type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="col-md-12 mt-2">
                        <div class="form-group">
                          <label class="bmd-label-floating">inputType</label>
                          <select name="inputType" class="form-control" id="inputType" data-style="btn btn-link" id="exampleFormControlSelect2">
                            {{ with .messageTypes }}
                            {{ range . }}
                                <option value="{{.}}">{{.}}</option>
                            {{ end }}
                            {{ end }}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-12 mt-2">
                        <div class="form-group">
                          <label class="bmd-label-floating">Reply</label>
                          <input name="Reply" id="Reply" type="text" class="form-control" >
                        </div>
                      </div>
                      <div class="col-md-12 mt-2">
                        <div class="form-group">
                          <label class="bmd-label-floating">replyType</label>
                          <select name="replyType" class="form-control" id="replyType" data-style="btn btn-link" id="exampleFormControlSelect2">
                              {{ with .messageTypes }}
                              {{ range . }}
                                  <option value="{{.}}">{{.}}</option>
                              {{ end }}
                              {{ end }}
                          </select>
                        </div>
                      </div>
                      <div class="col-md-12 mt-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Source</label>
                            <textarea name="Source" id="Source"  type="text" class="form-control" > </textarea>
                        </div>
                      </div>
                      <input value="Submit" type="submit" class="btn btn-success">
                    </div>
                  </form>
                </div>
              </div>
             </div>
           </div>
         </div>
       </div>
      {{ template "footer" }}
    </div>
  </div>
 
  {{ template "script" }}

  <script>
    (function ($) {
      $("form[name='create-chat-answer']").validate({
        rules: {
          Input: {
            required: true
          },
          inputType: {
            required: true
          },
          Reply: {
            required: true
          },
          replyType: {
            required: true
          },
          Source: {
            required: true
          },
        },
        messages: {
          Input: {
            required: "Please enter a valid Input"
          },
          inputType: {
            required: "Please enter a valid input type"
          },
          Reply: {
            required: "Please enter a valid Reply"
          },
          replyType: {
            required: "Please enter a valid replyType"
          },
          Source: {
            required: "Please enter a valid Source"
          },
        },
        submitHandler: function(form) {
          let _csrf = $("#_csrf").val()
          let Input = $("#Input").val()
          let inputType = $("#inputType").val()
          let Reply = $("#Reply").val()
          let replyType = $("#replyType").val()
          let Source = $("#Source").val()
          let data = new URLSearchParams();
          data.append("_csrf", _csrf)
          data.append("input", Input)
          data.append("input_type", inputType)
          data.append("reply", Reply)
          data.append("reply_type", replyType)
          data.append("source", Source)
          fetch(window.location.href, {
              method, 
              body: data
          })
          .then(res => {
            if (res.status === 201) {
              return res.json()
            }
          })
          .then(json => {
            Swal.fire("success", "", "success").then(result => {
              window.location.href = json.redirect
            })
          })
          .catch(err => Swal.fire("fial", "", "warning"))
        }
      })
    })(jQuery)
  </script>
</body>

</html>

{{end}}
