
{{define "chat-request-form"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
    <div class="wrapper ">
    {{ template "sidebar" .base }}
        <div class="main-panel">
            {{ template "navbar" .title }}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                            <div class="col-md-12">
                                <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h4 class="card-title">{{.mode}} chat request</h4>
                                        <p class="card-category">Complete your chat request</p>
                                    </div>
                                    <div class="card-body">
                                        <form name="form-chat-request" >
                                            <input name="_csrf" id="_csrf" value="{{._csrf}}" type="hidden" class="form-control" >
                                            <div class="row">

                                            </div>
                                            <input type="submit" rel="tooltip" value="Submit" class="btn btn-success">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ template "footer" }}
            </div>
        </div>
    </div>
  {{ template "script" }}
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script>
    (function ($) {
        $("form[name='form-chat-request']").validate({
            rules: {
                
            },
            messages: {
                
            },
            submitHandler: function(form) {
                let _csrf = $("#_csrf").val()
                
                let data = new URLSearchParams();
                data.append("_csrf", _csrf)
                
                fetch(window.location.href, {
                    method: "POST", 
                    body: data
                })
                .then(res => { 
                    if (res.status === 201) { return res.json()}})
                .then(json => {
                    window.location.href = json
                })
                .catch(err => Swal.fire("fial", "", "warning"))
            }
        })
        
    })(jQuery)
  </script>
</body>

</html>

{{end}}
