
{{define "content-form"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}
<script src="//cdn.ckeditor.com/4.13.1/full/ckeditor.js"></script>
<body class="">
    <div class="wrapper ">
    {{ template "sidebar" .base }}
        <div class="main-panel">
            {{ template "navbar" .title }}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h4 class="card-title">{{.mode}} content</h4>
                                    </div>
                                    <div class="card-body">
                                       <form name="create-content" method="{{.method}}" >
                                            <input name="_csrf" id="_csrf" value="{{._csrf}}" type="hidden" >
                                            <div class="row">
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">tilte</label>
                                                        <input name="title" id="title" value="{{.detail.ConTitle}}" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12">
                                                    <textarea name="editor1" id="editor1" rows="10" cols="80">
                                                        {{.detail.ConDetail}} 
                                                    </textarea>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    {{ if .detail.ConImage }}
                                                        <div className="image-wrapper" >
                                                            <input id="image" name="image" value="{{.detail.ID}}" type="hidden" >
                                                            <input id="ConImage" name="ConImage" value="{{.detail.ConImage}}" type="hidden" >
                                                            <img src="/files?path={{ .detail.ConImage }}" class="img-fluid mb-2 ml-2 img-thumbnail" />
                                                            <button id="btn-delete-image" type="button" rel="tooltip" class="btn btn-danger button-wrapper">delete</button>
                                                        </div>                                                 
                                                    {{ else }}
                                                        <input id="Image" name="Image" type="file">
                                                        <p><strong>Note:</strong> Choose any file on your computer and its name will be displayed in an alert dialog box.</p>
                                                    {{ end }}
                                                </div>
                                            </div>
                                            <div id="trumbowyg-demo"></div>
                                            <input type="submit" rel="tooltip" value="Submit" class="btn btn-success">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ template "footer" }}
            </div>
        </div>
    </div>
  {{ template "script" }}
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>

  <script>
    (function ($) {
        let editor = CKEDITOR.replace( 'editor1' )
        let detail = ""
        editor.on( 'change', function( evt ) {
            detail = evt.editor.getData()
        })
        const toBase64 = file => new Promise((resolve, reject) => {
            const reader = new FileReader()
            reader.readAsDataURL(file)
            reader.onload = () => resolve(reader.result)
            reader.onerror = error => reject(error)
        })
        
        const onSubmit = (data) => {
            let method = $("form[name='create-content']").attr("method")
            fetch(window.location.href, {
                method, 
                body: data
            })
            .then(res => {
                if (res.status !== 201){  
                    throw ""
                }
                return res.json()
            })
            .then(json => {
                Swal.fire("success", "", "success").then(result => {
                    window.location.href = json.redirect
                })
            })
            .catch(err => Swal.fire("fial", "", "warning"))
        }

        $("form[name='create-content']").validate({
            rules: {
                title: {
                    required: true
                },
                editor1: {
                    required: true
                },
                Image: {
                    required: true
                },
            },
            messages: {
                title:  {
                    required: "Please enter a valid title"
                },
                editor1:  {
                    required: "Please enter a valid detail"
                },
                Image:  {
                    required: "Please enter a valid Image"
                },
            },
            submitHandler: function(form) {
                let _csrf = $("#_csrf").val()
                let title = $("#title").val()
                let data = new FormData()
                console.log(detail)
                let Image =  $("#Image")
                data.append("_csrf",_csrf)
                data.append("con_title",title)
                data.append("con_detail",detail)
                
                let imageEncodedValue = ""

                if (Image[0].files.length !== 0) {    
                    toBase64(Image[0].files[0]).then(base64Image => {
                        data.append("file",base64Image)
                        onSubmit(data)
                        console.log(data)
                    })
                } else {
                    imageEncodedValue = $("#ConImage").val()
                    data.append("con_image",imageEncodedValue)
                    console.log(data)
                    onSubmit(data)
                }
            }
        })
    })(jQuery)
  </script>
</body>

</html>

{{end}}
