{{ define "customer-detail" }}

<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
           <div class="row">
             <div class="col-md-8">
               <div class="card">
                 <div class="card-header card-header-primary">
                   <h4 class="card-title ">customer detail</h4>
                 </div>
                 <div class="card-body">
                    <div class="row">
                        <div class="col-8">
                            <div class="col-md-12">
                              <div class="card">
                                <div class="card-header card-header-primary">
                                  <h4 class="card-title ">booking</h4>
                                </div>
                                <div class="card-body">
                                  <div class="table-responsive">
                                      <table class="table">
                                        <thead class=" text-primary">
                                          <th>CreatedAt</th>
                                        </thead>
                                        <tbody>
                                          {{ with .customer.EventLogs }}
                                          {{ range . }}
                                          <td>{{ ((.CreatedAt).AddDate 0 1 0).Format "Mon Jan 2 2006" }}</td>
                                          {{ end }} 
                                          {{ end }}
                                        </tbody>
                                      </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                        </div>
                        <div class="col-md-4">
                          <div class="card card-profile">
                            <div class="card-avatar">
                              <a href="#pablo">
                                <img class="img" src="{{ .cutomer.PictureURL }}" />
                              </a>
                            </div>
                            <div class="card-body">
                              <h6 class="card-category text-gray">{{ .customer.DisplayName }}</h6>
                              <h4 class="card-title">{{ .customer.FullName }}</h4>
                              <h4 class="card-title">{{ .customer.Email }}</h4>
                              <h4 class="card-title">{{ .customer.PhoneNumber }}</h4>
                            </div>
                          </div>
                        </div>
                    </div>
                 </div>
               </div>
             </div>
           </div>
           <div class="row">
              <div class="col-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">ActionLogs</h4>
                      </div>
                    <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                            <th>ReplyToken</th>
                            <th>Type</th>
                            <th>LineID</th>
                            <th>Text</th>
                            <th>CreatedAt</th>
                        </thead>
                        <tbody>
                            {{ with .customer.EventLogs }}
                            {{ range . }}
                            <td>{{.ReplyToken}}</td>
                            <td>{{.Type}}</td>
                            <td>{{.LineID}}</td>
                            <td>{{.Text}}</td>
                            <td>{{ ((.CreatedAt).AddDate 0 1 0).Format "Mon Jan 2 2006" }}</td>
                            {{ end }} 
                            {{ end }}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                  <div class="card">
                      <div class="card-header card-header-primary">
                        <h4 class="card-title ">ActionLogs</h4>
                      </div>
                      <div class="card-body">
                          <div class="table-responsive">
                            <table class="table">
                              <thead class=" text-primary">
                                  <th>Name</th>
                                  <th>Status</th>
                                  <th>Type</th>
                                  <th>CreatedAt</th>
                              </thead>
                              <tbody>
                                  {{ with .customer.ActionLogs }}
                                  {{ range . }}
                                  <td>{{ .Name }}</td>
                                  <td>{{ .Status }}</td>
                                  <td>{{ .Type }}</td>
                                  <td>{{ ((.CreatedAt).AddDate 0 1 0).Format "Mon Jan 2 2006" }}</td>
                                  {{ end }} 
                                  {{ end }}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div>
          </div>
         </div>
       </div>
      {{ template "footer" }}
    </div>
  </div>
</body>

</html>
{{ end }}