{{ define "customer-detail" }}

<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
           <div class="row">
              <div class="col-md-4">
                 <div class="card-body">
                    <div class="row">
                        <div class="card card-profile">
                          <div class="card-avatar">
                            <a href="#pablo">
                              {{ if (eq .customer.CusDisplayName "") }}
                                <img class="img" src="https://icon-library.net/images/person-image-icon/person-image-icon-6.jpg" />
                              {{ else }}
                                <img class="img" src="{{ .customer.CusPictureURL }}" />
                              {{ end }}
                            </a>
                          </div>
                          <div class="card-body">
                            <h4 class="card-title">{{ .customer.CusLineID }}</h4>
                            {{ if (eq .customer.CusDisplayName "") }}
                              <h6 class="card-category text-gray">-</h6>
                            {{ else }}
                              <h6 class="card-category text-gray">{{ .customer.CusDisplayName }}</h6>
                            {{ end }}
                            {{ if (eq .customer.CusFullName "") }}
                              <h6 class="card-category text-gray">-</h6>
                            {{ else }}
                              <h6 class="card-category text-gray">{{ .customer.CusFullName }}</h6>
                            {{ end }}
                            {{ if (eq .customer.CusEmail "") }}
                              <h6 class="card-category text-gray">-</h6>
                            {{ else }}
                              <h6 class="card-category text-gray">{{ .customer.CusEmail }}</h6>
                            {{ end }}
                            {{ if (eq .customer.CusPhoneNumber "") }}
                              <h6 class="card-category text-gray">-</h6>
                            {{ else }}
                              <h6 class="card-category text-gray">{{ .customer.CusPhoneNumber }}</h6>
                            {{ end }}
                          </div>
                        </div>
                    </div>
                 </div>
              </div>
              <div class="col-md-8">
                  <div class="card">
                    <div class="card-header card-header-primary">
                      <h4 class="card-title">booking</h4>
                    </div>
                    <div class="card-body">
                      <div class="table-responsive">
                          <table class="table">
                            <thead class=" text-primary">
                              <th>Queue</th>
                              <th>BookStatus</th>
                              <th>BookState</th>
                              <th>BookedDate</th>
                              <th>CreatedAt</th>
                            </thead>
                            <tbody>
                              {{ with .customer.Transactions }}
                              {{ range . }}
                              <tr>
                                <td>{{ .BooQueue }}</td>
                                <td>{{ .BookStatus }}</td>
                                <td>{{ .BookState }}</td>
                                <td>{{ .BookedDate }}</td>
                                <td>{{ ((.CreatedAt).AddDate 0 1 0).Format "Mon Jan 2 2006" }}</td>
                              </tr>
                              {{ end }} 
                              {{ end }}
                            </tbody>
                          </table>
                      </div>
                    </div>
                  </div>
              </div>
           </div>
           <div class="row">
              <div class="col-6">
                <div class="card">
                    <div class="card-header card-header-primary">
                        <h4 class="card-title ">ActionLogs</h4>
                      </div>
                    <div class="card-body">
                    <div class="table-responsive">
                      <table class="table">
                        <thead class=" text-primary">
                            <th>ReplyToken</th>
                            <th>Type</th>
                            <th>LineID</th>
                            <th>ChatChannel</th>
                            <th>Text</th>
                            <th>CreatedAt</th>
                        </thead>
                        <tbody>
                            {{ with .customer.EventLogs }}
                            {{ range . }}
                            <tr>
                              <td>{{ .EvenReplyToken }}</td>
                              <td>{{ .EvenType }}</td>
                              <td>{{ .EvenLineID }}</td>
                              <td>{{ .EvenChatChannelID }}</td>
                              <td>{{ .EvenText }}</td>
                              <td>{{ ((.CreatedAt).AddDate 0 1 0).Format "Mon Jan 2 2006" }}</td>
                            </tr>
                            {{ end }} 
                            {{ end }}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-6">
                  <div class="card">
                      <div class="card-header card-header-primary">
                        <h4 class="card-title ">ActionLogs</h4>
                      </div>
                      <div class="card-body">
                          <div class="table-responsive">
                            <table class="table">
                              <thead class=" text-primary">
                                  <th>Name</th>
                                  <th>Status</th>
                                  <th>CreatedAt</th>
                              </thead>
                              <tbody>
                                  {{ with .customer.ActionLogs }}
                                  {{ range . }}
                                  <tr>
                                  <td>{{ .ActName }}</td>
                                  <td>{{ .ActStatus }}</td>
                                  <td>{{ ((.CreatedAt).AddDate 0 1 0).Format "Mon Jan 2 2006" }}</td>
                                  </tr>
                                  {{ end }} 
                                  {{ end }}
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                  </div>
              </div>
           </div>
           <div>
          </div>
         </div>
       </div>
      {{ template "footer" }}
    </div>
  </div>
  {{ template "script" }}
</body>

</html>
{{ end }}