{{define "LIFF-list"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
           <div class="row">
             <div class="col-md-12">
               <div class="card">
                  <div class="card-header card-header-primary d-flex justify-content-between">
                    <h4 class="card-title ">Servicelist</h4>
                    <a href="/admin/LIFF/create">
                      <button class="btn btn-info">
                        <i class="material-icons">add</i>
                        Create
                      </button>
                    </a>
                  </div>
                 <div class="card-body">
                   <div class="table-responsive">
                     <table class="table">
                       <thead class=" text-primary">
                          <th>LIFFID</th>
                          <th>View</th>
                        <th>Create At</th>
                        <th></th>
                       </thead>
                       <tbody>
                          {{ with .list }}
                          {{ range . }}
                          <tr>
                              <td>{{.LIFFID}}</td>
                              <td>{{.View}}</td>
                              <td class="td-actions text-right">
                                <a href="/admin/liff/{{ .ID }}">
                                  <button type="button" rel="tooltip" class="btn btn-success">
                                    <i class="material-icons">person</i>
                                  </button>
                                </a>
                                <button type="button" rel="tooltip" class="btn btn-warning">
                                    <i class="material-icons">edit</i>
                                </button>
                                <button type="button" rel="tooltip" class="btn btn-danger">
                                    <i class="material-icons">close</i>
                                </button>
                              </td>
                          </tr>
                          {{end}}
                          {{end}}
                       </tbody>
                     </table>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
      {{ template "footer" }}
    </div>
  </div>
  {{ template "script" }}
</body>

</html>
{{end}}