
{{define "LIFF-form"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
    <div class="wrapper ">
    {{ template "sidebar" .base }}
        <div class="main-panel">
            {{ template "navbar" .title }}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h4 class="card-title">{{.mode}} LIFF</h4>
                                    </div>
                                    <div class="card-body">
                                        <form name="create-promotion" >
                                            <input name="_csrf" id="_csrf" value="{{._csrf}}" type="hidden" class="form-control" >
                                            <div class="row">
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">chat channel</label>
                                                        <select name="chatChannelID" id="chatChannelID" class="form-control"  data-style="btn btn-link" >
                                                            <option value="">choive chat channel </option>
                                                            {{ with .chatChannels }}
                                                            {{ range . }}
                                                                <option value="{{.ID}}">{{.ChaName}}</option>
                                                            {{ end }}
                                                            {{ end }}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >URL</label>
                                                        <input name="URL" id="URL" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >LIFF type</label>
                                                        <select name="LIFF_type" id="LIFF_type" class="form-control"  data-style="btn btn-link" >
                                                            <option value="">choive LIFF type </option>
                                                            {{ with .LIFFViewTypes }}
                                                            {{ range . }}
                                                                <option value="{{.}}">{{.}}</option>
                                                            {{ end }}
                                                            {{ end }}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="submit" rel="tooltip" value="Submit" class="btn btn-success">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ template "footer" }}
            </div>
        </div>
    </div>
  {{ template "script" }}
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script>
    (function ($) {
        $("form[name='create-promotion']").validate({
            rules: {
                URL: { required: true },
                LIFF_type: { required: true },
                chatChannelID: { required: true },
            },
            messages: {
                URL: { required: "Please enter a valid URL"},
                LIFF_type: { required: "Please enter a valid LIFFType"},
                chatChannelID: { required: "Please enter a valid chatChannelID"},
            },
            submitHandler: function(form) {
                let _csrf = $("#_csrf").val()
                let URL =  $("#URL").val()
                let LIFFType = $("#LIFF_type").val()
                let chatChannelID = $("#chatChannelID").val()

                let encodedKey = encodeURIComponent("_csrf");
                let encodedValue = encodeURIComponent(_csrf);

                let chatChannelIDEncodedKey = encodeURIComponent("chat_channel_id");
                let chatChannelIDEncodedValue = encodeURIComponent(chatChannelID);
                
                let URLEncodedKey = encodeURIComponent("url");
                let URLEncodedValue = encodeURIComponent(URL);

                let LIFFTypeEncodedKey = encodeURIComponent("type");
                let LIFFTypeEncodedValue = encodeURIComponent(LIFFType);

                let data = []
                
                data.push(encodedKey + "=" + encodedValue)
                data.push(chatChannelIDEncodedKey + "=" + chatChannelIDEncodedValue)
                data.push(URLEncodedKey + "=" + URLEncodedValue)
                data.push(LIFFTypeEncodedKey + "=" + LIFFTypeEncodedValue)
                data = data.join("&");
                fetch(window.location.href, {
                    method: "POST", 
                    headers: {"Content-Type": "application/x-www-form-urlencoded"},
                    body: data
                })
                .then(res => {
                    if (res.status === 201) {
                        let data = {}
                        Swal.fire("success", "", "success").then(() => {
                            data = res.json()
                        })
                        return data
                    }
                })
                .then(json => {
                    window.location = json.redirect
                })
                .catch(err => Swal.fire("fial", "", "warning"))
            }
        })
        
    })(jQuery)
  </script>
</body>

</html>

{{end}}
