{{define "LIFF-list"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
           <div class="row">
             <div class="col-md-12">
               <div class="card">
                  <div class="card-header card-header-primary d-flex justify-content-between">
                    <h4 class="card-title ">LIFF list</h4>
                    <a href="/admin/LIFF/create">
                      <button class="btn btn-info">
                        <i class="material-icons">add</i>
                        Create
                      </button>
                    </a>
                  </div>
                 <div class="card-body">
                    <div class="form-group">
                      <label class="bmd-label-floating">chat channel</label>
                      <select id="chatChannelID" class="form-control"  data-style="btn btn-link" >
                          <option value="{{.detail.ID}}">{{.detail.ChaName}}</option>
                          {{ with .chatChannels }}
                          {{ range . }}
                            <option value="{{.ID}}">{{.ChaName}}</option>
                          {{ end }}
                          {{ end }}
                      </select>
                    </div>
                   <div class="table-responsive">
                     <table class="table">
                       <thead class=" text-primary">
                          <th>LIFFID</th>
                          <th>Type</th>
                          <th>URL</th>
                          <th></th>
                       </thead>
                       <tbody>
                          {{ $ID := .detail.ID }}
                          {{if not .list}}<tr><td colspan="8" class="text-center">No content</td></tr> {{end}}
                          {{ with .list.Apps }}
                          {{ range . }}
                          <tr name="row_{{ .LIFFID }}">
                              <td>{{ .LIFFID }}</td>
                              <td>{{ .View.Type }}</td>
                              <td>{{ .View.URL }}</td>
                              <td>
                                <td class="td-actions text-right">
                                  <a href="/admin/richmenu/{{.LIFFID}}?chat_channel_id={{$ID}}">
                                    <button type="button" rel="tooltip" class="btn btn-success">
                                    <i class="material-icons">settings_applications</i>
                                    </button>
                                  </a>
                                  <a href="/admin/richmenu/{{.LIFFID}}/edit">
                                    <button type="button" rel="tooltip" class="btn btn-warning">
                                      <i class="material-icons">edit</i>
                                    </button>
                                  </a>
                                  <button value="{{ .LIFFID }}" name="remove"  type="button" rel="tooltip" class="btn btn-danger">
                                    <i class="material-icons">close</i>
                                  </button>
                                </td>
                              </td>
                          </tr>
                          {{end}}
                          {{end}}
                       </tbody>
                     </table>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
      {{ template "footer" }}
    </div>
    <input name="_csrf" id="_csrf" value="{{._csrf}}" type="hidden">
  </div>
  {{ template "script" }}
  <script>
      (function ($) { 
        function encodeQueryData(data) {
          const ret = [];
          for (let d in data)
            ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
          return ret.join('&');
        }

        let emChatChannelID = $("#chatChannelID")
        emChatChannelID.change(function() {
          let chatChannelID = emChatChannelID.val()
          const data = { 'chat_channel_id': chatChannelID };
          const querystring = encodeQueryData(data);
          window.location = "/admin/LIFF?" + querystring
        });

        $("button[name='remove']").click(function () {
            let _csrf = $("#_csrf").val()
    
            let id = $(this).val()
            let data = new FormData()
            data.append("_csrf", _csrf)
            let chatChannelID = emChatChannelID.val()
    
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
              }).then(result => {
              if (result.value) {
                fetch(`/admin/LIFF/${id}?chat_channel_id=${chatChannelID}`, {
                  method: "DELETE",
                  body: data
                }).then(res => {
                  if (res.status === 200) {
                    return res.json()
                  }
                }).then(json => {
                  Swal.fire("success", "", "success").then(result => {
                    $(`tr[name='row_${id}']`).remove()
                  })
                }).catch(err => {
                  // Swal.fire("success", "", "success")          
                })
              }
            })
            return 
          })
      })(jQuery)
    </script>
</body>

</html>
{{end}}