{{define "LIFF-list"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
           <div class="row">
             <div class="col-md-12">
               <div class="card">
                  <div class="card-header card-header-primary d-flex justify-content-between">
                    <h4 class="card-title ">LIFF list</h4>
                    <a href="/admin/LIFF/create">
                      <button class="btn btn-info">
                        <i class="material-icons">add</i>
                        Create
                      </button>
                    </a>
                  </div>
                 <div class="card-body">
                    <div class="form-group">
                      <label class="bmd-label-floating">chat channel</label>
                      <select id="chatChannelID" class="form-control"  data-style="btn btn-link" >
                          <option value="{{.detail.ID}}">{{.detail.ChaName}}</option>
                          {{ with .chatChannels }}
                          {{ range . }}
                            <option value="{{.ID}}">{{.ChaName}}</option>
                          {{ end }}
                          {{ end }}
                      </select>
                    </div>
                   <div class="table-responsive">
                     <table class="table">
                       <thead class=" text-primary">
                          <th>LIFFID</th>
                          <th>Type</th>
                          <th>URL</th>
                         <th></th>
                       </thead>
                       <tbody>
                          {{if not .list}}<tr><td colspan="8" class="text-center">No content</td></tr> {{end}}
                          {{ with .list.Apps }}
                          {{ range . }}
                          <tr>
                              <td>{{ .LIFFID }}</td>
                              <td>{{ .View.Type }}</td>
                              <td>{{ .View.URL }}</td>
                              <td></td>
                          </tr>
                          {{end}}
                          {{end}}
                       </tbody>
                     </table>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
      {{ template "footer" }}
    </div>
  </div>
  {{ template "script" }}
  <script>
      (function ($) { 
        function encodeQueryData(data) {
          const ret = [];
          for (let d in data)
            ret.push(encodeURIComponent(d) + '=' + encodeURIComponent(data[d]));
          return ret.join('&');
        }
        $( "#chatChannelID" ).change(function() {
          let chatChannelID = $("#chatChannelID").val()
          const data = { 'chat_channel_id': chatChannelID };
          const querystring = encodeQueryData(data);
          window.location = "/admin/LIFF?" + querystring
        });
      })(jQuery)
    </script>
</body>

</html>
{{end}}