{{ define "login" }}
  {{ template "header" .title }}
	<div class="limiter">
    <div class="container-login100">
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-md-5">
              <div class="card">
                <div class="card card-nav-tabs text-center">
                  <div class="card-header card-header-primary">
                    <h2>login</h2>
                  </div>
                </div>
                <div class="card-body">
                  <form class="validate-form" method="{{.method}}">
                    <input type="hidden" id="_csrf" name="_csrf" value="{{._csrf}}" />
                    <div class="row">
                      <div class="form-group w-100">
                        <input type="email" class="form-control" id="email" name="email" placeholder="email">
                      </div>
                    </div>
                    <div class="row">
                      <div class="form-group w-100">
                        <input type="password" class="form-control" id="password" name="password" placeholder="password">                        
                      </div>
                    </div>
                    <button type="submit" class="btn btn-primary pull-right">login</button>
                    <div class="clearfix"></div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
    </div>
  </div>

  {{ template "script" }}
  <script>
    (function ($) {
      $("form.validate-form").validate({
        rules: {
            email: { required: true },
            password: { required: true }
        },
        messages: {
            email: { required: `Please enter a valid email` },
            password: { required: `Please enter a valid password` }
        },
        submitHandler: function(form) {
          let email = $("#email").val();
          let password = $("#password").val();
          let _csrf = $("#_csrf").val();
          const data = new FormData();
          data.append("email", email);
          data.append("password", password);
          data.append("_csrf", _csrf);
          let method = $(".validate-form").attr("method")
          fetch("/login", { method:"POST", body: data}).then(res => {
            if (res.status !== 301) {
              throw ""
            }
            return res.json();
          }).then(data => {
            location.replace(data.redirect)
          })
          .catch(err => {
            Swal.fire("fial", "", "warning")
          })
        }})
    })(jQuery);
  </script>
{{ end }}
