{{define "package-service-form"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
    <div class="wrapper ">
    {{ template "sidebar" .base }}
        <div class="main-panel">
            {{ template "navbar" .title }}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h4 class="card-title"> package-service </h4>
                                    </div>
                                    <div class="card-body">
                                       <form method="{{.method}}" name="create-package-service" >
                                            <input name="_csrf" id="_csrf" value="{{._csrf}}" type="hidden" >
                                            <div class="row">
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >service</label>
                                                        <select name="service_id" class="form-control" data-style="btn btn-link" id="service_id">
                                                            <option value="">choose service </option>
                                                            {{ with .serviceItems }}
                                                            {{ range . }}
                                                                <option value="{{.ID}}">{{.Service.SerName}} {{ .SSTime }} {{.SSPrice}}</option>
                                                            {{ end }}
                                                            {{ end }}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <input type="submit" rel="tooltip" value="Submit" class="btn btn-success">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ template "footer" }}
            </div>
        </div>
    </div>
  {{ template "script" }}
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script>
   
    (function ($) {
        $("form[name='create-package-service']").validate({
            rules: {
                service_id: {
                    required: true
                }
            },
            messages: {
                service_id: {
                    required: "Please enter a valid service"
                }
            },
            submitHandler: function(form) {
                let _csrf = $("#_csrf").val()
                let service_id = $("#service_id").val()
                let data = new FormData()
                data.append("_csrf", _csrf)
                data.append("service_id", service_id)
                let method = $("form[name='create-package-service']").attr("method")
                console.log(method)
                fetch(window.location.href, {
                    method, 
                    body: data
                })
                .then(res => {
                    if (res.status !== 201) {
                        Swal.fire("fial", "", "warning")
                        throw ""
                    } 
                    return res.json()
                })
                .then(data => {
                    Swal.fire("success", "", "success").then(result => {
                        window.location = data.redirect
                    })
                })
                .catch(err => Swal.fire("fial", "", "warning"))
            }
        })
    })(jQuery)
  </script>
</body>

</html>

{{end}}
