{{define "package-detail"}}
<!DOCTYPE html>
<html lang="en">
{{ template "header" .title }}
<body class="">
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="/files?path={{ .detail.PacImage }}" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-gray">{{ .detail.PacName }}</h6>
                            <h6 class="card-category text-gray">{{ .detail.PacDetail }}</h6>
                            <h6 class="card-category text-gray">{{ .detail.PacOrder }}</h6>
                            <h6 class="card-category text-gray">{{ .detail.PacType }}</h6>
                            <h6 class="card-category text-gray"><input value="{{ .ID }}" type="checkbox" data-toggle="toggle" checked="{{.PacActive}}"></h6>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-warning"><i class="material-icons">edit</i>edit</button>
                                <button type="button" class="btn btn-danger"><i class="material-icons">delete</i>delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary d-flex justify-content-between">
                                <h4 class="card-title ">service</h4>
                                <a href="/admin/package/{{.detail.ID}}/package_service/create">
                                    <button class="btn btn-info">
                                    <i class="material-icons">add</i>
                                    Create
                                    </button>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th>Name</th>
                                            <th>Detail</th>
                                            <th>Price</th>
                                            <th>Time</th>
                                            <th>Image</th>
                                            <th></th>
                                        </thead>
                                        <tbody>
                                            {{ with .detail.ServiceItems }}
                                            {{ range . }}
                                                <tr id="row_service_{{.ID}}" name="row_{{ .ID }}">
                                                    <td>{{.Service.SerName}}</td>
                                                    <td>{{.SSName}}</td>
                                                    <td>{{.SSPrice}}</td>
                                                    <td>{{.SSTime}}</td>
                                                    <td>{{.Service.SerImage}}</td>
                                                    <td class="td-actions text-right">
                                                        <button name="service_item" value="{{ .ID }}" name="remove"  type="button" rel="tooltip" class="btn btn-danger">
                                                          <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            {{ end }}
                                            {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
       </div>
      {{ template "footer" }}
    </div>
    <input id="_csrf" name="_csrf" value="{{._csrf}}" type="hidden" >
    <input id="id" name="id" value="{{.detail.ID}}" type="hidden" >
  </div>
  {{ template "script" }}

  <script>
        (function ($) {

            $("button[name='service']").each(function () {
                $(this).click(function() {
                    let _csrf = $("#_csrf").val()
                    let service_id = $(this).val()
                    let data = new FormData()
                    let id = $("#id").val()
                    data.append("_csrf", _csrf)
                    fetch(`/admin/package/${id}/package_service/${service_id}`, {
                        body: data,
                        method: "DELETE"
                    }).then(res => {
                        if (res.status !== 200) {
                            throw ""
                        }
                        return res.json()
                    }).then(json => {
                        Swal.fire("success", "", "success").then(result => {
                            $(`#row_service_${service_id}`).remove()
                        })
                    }).catch(err => {
                        Swal.fire("fial", "", "fial")          
                    })
                })
            })
            
      })(jQuery)
  </script>
</body>

</html>
{{end}}