{{ define "pagination" }}
    <nav>
        <ul class="pagination">
            {{ if .Previous }}
                <li class="page-item">
                    <p class="page-link">Previous</p>
                </li>
            {{ end }}
            {{$page := .Page}}
            {{range $val := .List}}
                <li value="{{ $val }}" class="page-item {{if (eq  $val $page)}} active {{end}}">
                    <p class="page-link">{{ $val }}</p>
                </li>
            {{ end }}
            {{ if .Next }}        
                <li class="page-item">
                    <p class="page-link">Next</p>
                </li>
            {{ end }}        
        </ul>
      </nav>
{{ end }}
