{{ define "payment-omise" }}
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>payment {{.detail.TranDocumentCode}}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script src="https://cdn.omise.co/omise.js"></script>
</head>

<body>
    {{.detail.TranTotal}}
  <form id="checkout-form"  action="/omise_charge" method="POST">
    <input type="hidden" name="omiseSource">
    <div>
      <input type="hidden" name="amount" value="{{.detail.TranTotal}}00">
    </div>
    <input type="hidden" name="omiseToken">
    <input type="hidden" id="pay-button-thb">
    <input type="hidden" id="pay-button-usd">
  </form>
  <script src="https://static.line-scdn.net/liff/edge/2.1/sdk.js"></script>

  <script>
      liff.init({ liffId: "1615136604-5wld9ZdL" }, () => {
      }, err => console.error(err.code, error.message));
    OmiseCard.configure({
      publicKey: 'pkey_test_5ip8fflleizk5mzvnut',
      amount: 99500,
      submitLabel: 'Pay',
      submitFormTarget: '#checkout-form',
    });

    const buttonTHB = document.querySelector('#pay-button-thb')
    // const buttonUSD = document.querySelector('#pay-button-usd')
    const amount = document.querySelector('input[name="amount"]')
    const form = document.querySelector('#checkout-form')
    const omiseToken = document.querySelector('input[name="omiseToken"]')

    function formClosedhandler() {
      liff.closeWindow()
    }

    function createTokenSuccessHandler(token) {
      omiseToken.value = token
      if (token.startsWith("tokn_")) {
        form.omiseToken.value = token;
      } else {
        form.omiseSource.value = token;
      };
      let body = new FormData()
      body.append("amount", amount.value)
      body.append("currency", "THB")
      body.append("token", token)
      fetch("/omise_charge?account_name={{.accountName}}&doc_code_transaction={{.DocCodeTransaction}}", {
          method: "POST",
          body
      }).then(res => {
        if (res.status !==200){
          throw ""
        }
        return res.json()
      }).then(json => {
        liff.closeWindow()
      }).catch(err => {})
    }

    buttonTHB.addEventListener('click', function(event) {
      event.preventDefault()
      OmiseCard.open({
        frameLabel: '{{.accountName}}',
        frameDescription: 'Invoice #{{.DocCodeTransaction}}',
        currency: 'THB',
        amount: amount.value,
        onCreateTokenSuccess: createTokenSuccessHandler,
        onFormClosed: formClosedhandler,
      })
    })

    // buttonUSD.addEventListener('click', function(event) {
    //   event.preventDefault()
    //   OmiseCard.open({
    //     frameLabel: 'Esimo',
    //     frameDescription: 'Invoice #{{.DocCodeTransaction}}',
    //     currency: 'USD',
    //     amount: amount.value,
    //     onCreateTokenSuccess: createTokenSuccessHandler,
    //     onFormClosed: formClosedhandler,
    //   })
    // })
    
    window.onload = function(){
        document.getElementById('pay-button-thb').click();
        var scriptTag = document.createElement("script")
        scriptTag.src = "https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"
        document.getElementsByTagName("head")[0].appendChild(scriptTag)
    }
    // setTimeout(function(){ 
    //     liff.getProfile()
    //     .then(profile => {
    //         // const accessToken = liff.getAccessToken();
    //         alert(JSON.stringify(profile))
    //     }).catch((err) => {alert("err")})
    //  }, 3000);

    
  </script>
</body>

</html>
{{ end }}
