{{define "place-list"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
           <div class="row">
             <div class="col-md-12">
               <div class="card">
                  <div class="card-header card-header-primary d-flex justify-content-between">
                    <h4 class="card-title ">place list</h4>
                    <a href="/admin/place/create">
                      <button class="btn btn-info">
                        <i class="material-icons">add</i>
                        Create
                      </button>
                    </a>
                  </div>
                 <div class="card-body">
                   <div class="table-responsive">
                     <table class="table">
                       <thead class=" text-primary">
                        <th>No</th>
                        <th>Name</th>
                        <th>Detail</th>
                        <th>Type</th>
                        <th>Amount</th>
                        <th>Create at</th>
                        <th>Active</th>
                        <th></th>
                       </thead>
                       <tbody>
                        {{if not .list}}<tr><td colspan="8" class="text-center">No content</td></tr> {{end}}
                         {{ with .list }}
                           {{ range . }}
                             <tr>
                                <td></td>
                                <td>{{ .PlacName }}</td>
                                <td>{{ .PlacDetail }}</td>
                                <td>{{ .PlacType }}</td>
                                <td>{{ .PlacAmount }}</td>
                                <td>{{ ((.CreatedAt).AddDate 0 1 0).Format "Mon Jan 2 2006" }}</td>
                                <td><input type="checkbox" checked data-toggle="toggle" checked="{{ .PlacActive }}"></td>
                                <td class="td-actions text-right">
                                    <a href="/admin/place/{{ .ID }}">
                                      <button type="button" rel="tooltip" class="btn btn-success">
                                          <i class="material-icons">person</i>
                                      </button>
                                    </a>
                                    <a href="/admin/place/{{ .ID }}/edit">
                                      <button type="button" rel="tooltip" class="btn btn-warning">
                                          <i class="material-icons">edit</i>
                                      </button>
                                    </a>
                                    <a href="/admin/place/{{ .ID }}/de">
                                      <button type="button" rel="tooltip" class="btn btn-danger">
                                          <i class="material-icons">close</i>
                                      </button>
                                    </a>
                                </td>
                             </tr>
                           {{ end }} 
                         {{ end }}
                       </tbody>
                     </table>
                     <div class="row p-0 m-0">
                      <div class="ml-auto">
                        {{ template "pagination" .pagination }}
                      </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
      {{ template "footer" }}
    </div>
  </div>
  {{ template "script" }}
</body>

</html>
{{end}}