{{define "place-detail"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="{{ .detail.PlacImage }}" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-gray">{{ .detail.PlacName }}</h6>
                            <h6 class="card-category text-gray">{{ .detail.PlacDetail }}</h6>
                            <h6 class="card-category text-gray">{{ .detail.PlacAmount }}</h6>
                            <h6 class="card-category text-gray">{{ .detail.PlacType }}</h6>
                            <h6 class="card-category text-gray"><input type="checkbox" checked data-toggle="toggle" checked="{{.PlacActive}}"></h6>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-warning"><i class="material-icons">edit</i>edit</button>
                                <button type="button" class="btn btn-danger"><i class="material-icons">delete</i>delete</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary d-flex justify-content-between">
                                <h4 class="card-title ">channel</h4>
                                <a href="/admin/place/{{.detail.ID}}/place_chatchannel/create">
                                    <button class="btn btn-info">
                                    <i class="material-icons">add</i>
                                    Create
                                    </button>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th>Name</th>
                                            <th>Type</th>
                                        </thead>
                                        <tbody>
                                            {{ with .detail.ChatChannels }}
                                            {{ range . }}
                                                <tr>
                                                    <td>{{ .ChaName }}</td>
                                                    <td>{{ .ChaType }}</td>
                                                </tr>
                                            {{ end }}
                                            {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
       </div>
      {{ template "footer" }}
    </div>
  </div>
  {{ template "script" }}
</body>

</html>
{{end}}