
{{define "promotion-form"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
    <div class="wrapper ">
    {{ template "sidebar" .base }}
        <div class="main-panel">
            {{ template "navbar" .title }}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h4 class="card-title">{{.mode}} Promotion</h4>
                                    </div>
                                    <div class="card-body">
                                        <form name="create-promotion" >
                                            <input name="_csrf" id="_csrf" value="{{._csrf}}" type="hidden" class="form-control" >
                                            <div class="row">
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >Title</label>
                                                        <input name="Title" id="Title" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >PromotionType</label>
                                                        <select name="PromotionType" class="form-control" id="PromotionType" data-style="btn btn-link">
                                                            {{ with .promotionTypes }}
                                                            {{ range . }}
                                                                <option value="{{.}}">{{.}}</option>
                                                            {{ end }}
                                                            {{ end }}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >Discount</label>
                                                        <input name="Discount" id="Discount" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >Amount</label>
                                                        <input name="Amount" id="Amount" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >Code</label>
                                                        <input name="Code" id="Code" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >Name</label>
                                                        <input name="Name" id="Name" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >StartDate</label>
                                                        <input name="StartDate" id="StartDate" class="form-control" type="date">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >EndDate</label>
                                                        <input name="EndDate" id="EndDate" class="form-control" type="date">
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >Condition</label>
                                                        <textarea name="Condition" id="Condition" type="text" class="form-control" ></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <input id="Image" name="Image" type="file">
                                                    <p><strong>Image:</strong> Choose any file on your computer and its name will be displayed in an alert dialog box.</p>
                                                </div>
                                            </div>
                                            <input type="submit" rel="tooltip" value="Submit" class="btn btn-success">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ template "footer" }}
            </div>
        </div>
    </div>
  {{ template "script" }}
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script>
   
    (function ($) {
        const toBase64 = file => new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
        $("form[name='create-promotion']").validate({
            rules: {
                Title: {
                    required: true
                },
                PromotionType: {
                    required: true
                },
                Discount: {
                    required: true
                },
                Amount: {
                    required: true
                },
                Code: {
                    required: true
                },
                Name: {
                    required: true
                },
                StartDate: {
                    required: true
                },
                EndDate: {
                    required: true
                },
                Condition: {
                    required: true
                }, 
                Image: {
                    required: true
                },
            },
            messages: {
                Title: {
                    required: "Please enter a valid Title"
                },
                PromotionType: {
                    required: "Please enter a valid PromotionType"
                },
                Discount: {
                    required: "Please enter a valid Discount"
                },
                Amount: {
                    required: "Please enter a valid Amount"
                },
                Code: {
                    required: "Please enter a valid Code"
                },
                Name: {
                    required: "Please enter a valid Name"
                },
                StartDate: {
                    required: "Please enter a valid StartDate"
                },
                EndDate: {
                    required: "Please enter a valid EndDate"
                },
                Condition: {
                    required: "Please enter a valid Condition"
                },
                Image: {
                    required: "Please enter a valid Image"
                },
            },
            submitHandler: function(form) {
                let _csrf = $("#_csrf").val()
                let PromotionType = $("#PromotionType").val()
                let Title = $("#Title").val()
                let Discount = $("#Discount").val()
                let Amount = $("#Amount").val()
                let Code = $("#Code").val()
                let Name = $("#Name").val()
                let StartDate = $("#StartDate").val()
                let EndDate = $("#EndDate").val()
                let Condition = $("#Condition").val()
                let Image =  $("#Image")

                let typePromotionEncodedKey = encodeURIComponent("promotion_type") 
                let titleEncodedKey = encodeURIComponent("title") 
                let discountEncodedKey = encodeURIComponent("discount") 
                let amountEncodedKey = encodeURIComponent("amount") 
                let codeEncodedKey = encodeURIComponent("code") 
                let nameEncodedKey = encodeURIComponent("name") 
                let startDateEncodedKey = encodeURIComponent("start_date") 
                let endDateEncodedKey = encodeURIComponent("end_date") 
                let conditionEncodedKey = encodeURIComponent("condition") 
                let imageEncodedKey = encodeURIComponent("file") 

                let typePromotionEncodedValue = encodeURIComponent(PromotionType)
                let titleEncodedValue = encodeURIComponent(Title)
                let discountEncodedValue = encodeURIComponent(Discount)
                let amountEncodedValue = encodeURIComponent(Amount)
                let codeEncodedValue = encodeURIComponent(Code)
                let nameEncodedValue = encodeURIComponent(Name)

                let startDateEncodedValue = encodeURIComponent(new Date(StartDate).toISOString())
                let endDateEncodedValue = encodeURIComponent(new Date(EndDate).toISOString())
                let conditionEncodedValue = encodeURIComponent(Condition)
                let encodedKey = encodeURIComponent("_csrf");
                let encodedValue = encodeURIComponent(_csrf);

                let data = []

                toBase64(Image[0].files[0]).then(base64Image => {
                    
                    Image = JSON.stringify(base64Image)
                    let imageEncodedValue = encodeURIComponent(Image);
                    data.push(encodedKey + "=" + encodedValue)
                    data.push(typePromotionEncodedKey + "=" + typePromotionEncodedValue) 
                    data.push(titleEncodedKey + "=" + titleEncodedValue) 
                    data.push(discountEncodedKey + "=" + discountEncodedValue) 
                    data.push(amountEncodedKey + "=" + amountEncodedValue) 
                    data.push(codeEncodedKey + "=" + codeEncodedValue) 
                    data.push(nameEncodedKey + "=" + nameEncodedValue) 
                    data.push(startDateEncodedKey + "=" + startDateEncodedValue) 
                    data.push(endDateEncodedKey + "=" + endDateEncodedValue) 
                    data.push(conditionEncodedKey + "=" + conditionEncodedValue) 
                    data.push(imageEncodedKey + "=" + imageEncodedValue) 
                    data = data.join("&");
                    fetch(window.location.href, {
                        method: "POST", 
                        headers: {"Content-Type": "application/x-www-form-urlencoded"},
                        body: data
                    })
                    .then(res => {
                        if (res.status === 201) Swal.fire("success", "", "success") 
                        return res.json()
                    })
                    .then(json => {
                        window.location = json.redirect
                    })
                    .catch(err => Swal.fire("fial", "", "warning"))
                })
            }
        })
    })(jQuery)
  </script>
</body>

</html>

{{end}}
