
{{define "promotion-form"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
    <div class="wrapper ">
    {{ template "sidebar" .base }}
        <div class="main-panel">
            {{ template "navbar" .title }}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h4 class="card-title">{{.mode}} Promotion</h4>
                                    </div>
                                    <div class="card-body">
                                       <form method="{{.method}}" name="create-promotion" >
                                            <input name="_csrf" id="_csrf" value="{{._csrf}}" type="hidden" >
                                            <div class="row">
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >Title</label>
                                                        <input name="Title" value="{{.detail.PromTitle}}" id="Title" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >Promotion Type</label>
                                                        <select name="PromotionType" class="form-control" id="PromotionType" data-style="btn btn-link">

                                                            {{ if .detail.PromType }}
                                                                <option value="{{.detail.PromType}}">{{.detail.PromType}}</option>
                                                            {{ else }}
                                                                <option value="">choose Type</option>
                                                            {{ end }}

                                                            {{ with .promotionTypes }}
                                                            {{ range . }}
                                                                <option value="{{.}}">{{.}}</option>
                                                            {{ end }}
                                                            {{ end }}
                                                        </select>
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating">Discount</label>
                                                        <input name="Discount" value="{{.detail.PromDiscount}}" id="Discount" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >Amount</label>
                                                        <input name="Amount" value="{{.detail.PromAmount}}" id="Amount" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >Code</label>
                                                        <input name="Code" value="{{.detail.PromCode}}" id="Code" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >Name</label>
                                                        <input name="Name" value="{{.detail.PromName}}" id="Name" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2" id="form-image">
                                                {{ if .detail.PromImage }}
                                                    <div className="image-wrapper" >
                                                        <input id="image" name="image" value="{{.detail.ID}}" type="hidden" >
                                                        <img src="/files?path={{ .detail.PromImage }}" class="img-fluid mb-2 ml-2 img-thumbnail" />
                                                        <button id="btn-delete-image" type="button" rel="tooltip" class="btn btn-danger button-wrapper">delete</button>
                                                    </div>                                                 
                                                {{ else }}
                                                    <input id="Image" name="Image" type="file">
                                                    <p><strong>Note:</strong> Choose any file on your computer and its name will be displayed in an alert dialog box.</p>
                                                {{ end }}
                                                </div>
                                            </div>
                                            <input type="submit" rel="tooltip" value="Submit" class="btn btn-success">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ template "footer" }}
            </div>
        </div>
    </div>
  {{ template "script" }}
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script>
   
    (function ($) {
        function removeImage () {
            let id = $("#image").val()
            let _csrf = $("#_csrf").val()
            let data = new FormData()
            data.append("_csrf", _csrf)
            fetch(`/admin/promotion/${id}/delete_image`, {
                    method: "DELETE",
                    body: data
            }).then(res => {
                if (res.status !== 200) {
                    throw ""
                }
                $("#form-image").html(`
                    <input id="Image" name="Image" type="file">
                    <p><strong>Note:</strong> Choose any file on your computer and its name will be displayed in an alert dialog box.</p>
                `)
            }).catch(err => Swal.fire("fial", "", "warning"))
        }

        $("#btn-delete-image").click(function () {
            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then(result => {
                if (result.value) {
                    removeImage()
                }
            })
        })

        const toBase64 = file => new Promise((resolve, reject) => {
            const reader = new FileReader()
            reader.readAsDataURL(file)
            reader.onload = () => resolve(reader.result)
            reader.onerror = error => reject(error)
        })

        function onSubmit (data) {
            data = data.join("&");
            let method = $("form[name='create-promotion']").attr("method")
            fetch(window.location.href, {
                method, 
                headers: {"Content-Type": "application/x-www-form-urlencoded"},
                body: data
            })
            .then(res => {
                if (res.status !== 201) {
                    throw ""
                }
                return res.json()
            })
            .then(json => {
                Swal.fire("success", "", "success").then(result => {
                    window.location = json.redirect
                })
            })
            .catch(err => {
                Swal.fire("fial", "", "warning")
            })
        }
        
        $("form[name='create-promotion']").validate({
            rules: {
                Title: {
                    required: true
                },
                PromotionType: {
                    required: true
                },
                Discount: {
                    required: true
                },
                Amount: {
                    required: true
                },
                Code: {
                    required: true
                },
                Name: {
                    required: true
                },
                Image: {
                    required: true
                },
            },
            messages: {
                Title: {
                    required: "Please enter a valid Title"
                },
                PromotionType: {
                    required: "Please enter a valid PromotionType"
                },
                Discount: {
                    required: "Please enter a valid Discount"
                },
                Amount: {
                    required: "Please enter a valid Amount"
                },
                Code: {
                    required: "Please enter a valid Code"
                },
                Name: {
                    required: "Please enter a valid Name"
                },
                Image: {
                    required: "Please enter a valid Image"
                },
            },
            submitHandler: function(form) {
                let _csrf = $("#_csrf").val()
                let PromotionType = $("#PromotionType").val()
                let Title = $("#Title").val()
                let Discount = $("#Discount").val()
                let Amount = $("#Amount").val()
                let Code = $("#Code").val()
                let Name = $("#Name").val()
                let Image =  $("#Image")

                let typePromotionEncodedKey = encodeURIComponent("promotion_type") 
                let titleEncodedKey = encodeURIComponent("title") 
                let discountEncodedKey = encodeURIComponent("discount") 
                let amountEncodedKey = encodeURIComponent("amount") 
                let codeEncodedKey = encodeURIComponent("code") 
                let nameEncodedKey = encodeURIComponent("name") 
                let imageEncodedKey = encodeURIComponent("file") 

                let typePromotionEncodedValue = encodeURIComponent(PromotionType)
                let titleEncodedValue = encodeURIComponent(Title)
                let discountEncodedValue = encodeURIComponent(Discount)
                let amountEncodedValue = encodeURIComponent(Amount)
                let codeEncodedValue = encodeURIComponent(Code)
                let nameEncodedValue = encodeURIComponent(Name)

                let encodedKey = encodeURIComponent("_csrf");
                let encodedValue = encodeURIComponent(_csrf);

                let data = []

                data.push(encodedKey + "=" + encodedValue)
                data.push(typePromotionEncodedKey + "=" + typePromotionEncodedValue) 
                data.push(titleEncodedKey + "=" + titleEncodedValue) 
                data.push(discountEncodedKey + "=" + discountEncodedValue) 
                data.push(amountEncodedKey + "=" + amountEncodedValue) 
                data.push(codeEncodedKey + "=" + codeEncodedValue) 
                data.push(nameEncodedKey + "=" + nameEncodedValue) 

                if (Image.length !== 0) {
                    toBase64(Image[0].files[0]).then(base64Image => {
                        
                        Image = base64Image
                        let imageEncodedValue = encodeURIComponent(Image)
                        let promImageEncodedKey = encodeURIComponent("image")
                        let promImageEncodedValue = encodeURIComponent("")
                        data.push(promImageEncodedKey + "=" + promImageEncodedValue)
                        data.push(imageEncodedKey + "=" + imageEncodedValue)
                        onSubmit(data)
                        
                    })
                    return
                } else {
                    let image = $("img").attr("src")
                    let ImageEncodedKey = encodeURIComponent("image")
                    let ImageEncodedValue = encodeURIComponent(image)
                    data.push(ImageEncodedKey + "=" + ImageEncodedValue)
                    onSubmit(data)

                }
            }
        })
    })(jQuery)
  </script>
</body>

</html>

{{end}}
