{{define "promotion-detail"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                    <div class="col-md-12">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img" src="{{ .detail.PromImage }}" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="card-category text-gray">{{ .detail.PromTitle }}</h2>
                                <h2 class="card-category text-gray">{{ .detail.PromName }}</h2>
                                <h2 class="card-category text-gray">{{ .detail.PromCode }}</h2>
                                <h6 class="card-category text-gray">{{ .detail.PromType }}</h6>
                                <h6 class="card-category text-gray">{{ .detail.PromStartDate.Format "Mon Jan 2 2006" }} - {{ .detail.PromEndDate.Format "Mon Jan 2 2006" }}</h6>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-warning"><i class="material-icons">edit</i>edit</button>
                                    <button type="button" class="btn btn-danger"><i class="material-icons">delete</i>delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon p-2">
                                    <i class="material-icons">monetization_on</i>
                                </div>
                                <p class="card-category">discount</p>
                                <h3 class="card-title"> {{ .detail.PromDiscount }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon p-2">
                                    <i class="material-icons">account_balance_wallet</i>
                                </div>
                                <p class="card-category">used</p>
                                <h3 class="card-title"> {{ .detail.PromAmount }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary d-flex justify-content-between">
                                <h4 class="card-title ">chat channel</h4>
                                <a href="/admin/promotion_channel/{{ .detail.ID }}/create">
                                    <button class="btn btn-info">
                                    <i class="material-icons">add</i>
                                    Add Channel
                                    </button>
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th>Name</th>
                                            <th>Type</th>
                                        </thead>
                                        <tbody>
                                            {{ with .detail.ChatChannels }}
                                            {{ range . }}
                                            <tr name="row_{{ .ID }}">
                                                <td>{{ .ChaName }}</td>
                                                <td>{{ .ChaType }}</td>
                                            </tr>
                                            {{ end }}
                                            {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
       </div>
      {{ template "footer" }}
    </div>
  </div>
</body>

</html>
{{end}}