{{define "promotion-detail"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="row">
                    <div class="col-md-12">
                        <div class="card card-profile">
                            <div class="card-avatar">
                                <a href="#pablo">
                                    <img class="img" src="{{ .detail.PromImage }}" />
                                </a>
                            </div>
                            <div class="card-body">
                                <h2 class="card-category text-gray">{{ .detail.PromTitle }}</h2>
                                <h2 class="card-category text-gray">{{ .detail.PromName }}</h2>
                                <h2 class="card-category text-gray">{{ .detail.PromCode }}</h2>
                                <h6 class="card-category text-gray">{{ .detail.PromType }}</h6>
                                <h6 class="card-category text-gray"></h6>
                                <div class="d-flex justify-content-center">
                                    <button type="button" class="btn btn-warning"><i class="material-icons">edit</i>edit</button>
                                    <button type="button" class="btn btn-danger"><i class="material-icons">delete</i>delete</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-warning card-header-icon">
                                <div class="card-icon p-2">
                                    <i class="material-icons">monetization_on</i>
                                </div>
                                <p class="card-category">discount</p>
                                <h3 class="card-title"> {{ .detail.PromDiscount }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="card card-stats">
                            <div class="card-header card-header-success card-header-icon">
                                <div class="card-icon p-2">
                                    <i class="material-icons">account_balance_wallet</i>
                                </div>
                                <p class="card-category">used</p>
                                <h3 class="card-title"> {{ .detail.ProUsed }}
                                </h3>
                            </div>
                        </div>
                    </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="col-md-12">
                        <div class="card">
                            <div class="card-header card-header-primary d-flex justify-content-between">
                                <h4 id="PromType" value="{{.detail.PromType}}" class="card-title ">{{.detail.PromType}}</h4>
                                    <button class="btn btn-info" id="create">
                                    <i class="material-icons">add</i>
                                        create {{ .detail.PromType }}
                                    </button>
                            </div>
                            <div class="card-body">
                                <div class="table-responsive">
                                    <table class="table">
                                        <thead>
                                            <th>ChatChannel</th>
                                            <th>IsActive</th>
                                            <th>StartDate</th>
                                            <th>EndDate</th>
                                            <th>Amount</th>
                                            <th>Condition</th>
                                            <th></th>
                                        </thead>
                                        <tbody id="body-child">
                                            {{ if (eq .detail.PromType "Coupon") }}
                                                {{ with .detail.Coupons }}
                                                {{ range . }}
                                                <tr name="row_{{ .ID }}">
                                                    <td>{{.ChatChannel}}</td>
                                                    <td>{{.IsActive}}</td>
                                                    <td>{{.PromStartDate.Format "Mon Jan 2 2006"}}</td>
                                                    <td>{{.PromEndDate.Format "Mon Jan 2 2006"}}</td>
                                                    <td>{{.PromAmount}}</td>
                                                    <td>{{.PromCondition}}</td>
                                                </tr>
                                                {{ end }}
                                                {{ end }}
                                            {{ else if (eq .detail.PromType "Voucher")  }}
                                                {{ with .detail.Vouchers }}
                                                {{ range . }}
                                                <tr name="row_{{ .ID }}">
                                                    <td>{{.ChatChannel.ChaName}}</td>
                                                    <td><input type="checkbox" checked data-toggle="toggle" checked="{{.IsActive}}"></td>
                                                    <td>{{.PromStartDate.Format "Mon Jan 2 2006"}}</td>
                                                    <td>{{.PromEndDate.Format "Mon Jan 2 2006"}}</td>
                                                    <td>{{.PromAmount}}</td>
                                                    <td>{{.PromCondition}}</td>
                                                    <td class="td-actions text-right">
                                                        <button value="{{ .ID }}" type="button" rel="tooltip" class="btn btn-success">
                                                            <i class="material-icons">settings_applications</i>
                                                        </button>
                                                        <button value="{{ .ID }}" name="remove" type="button" rel="tooltip" class="btn btn-danger">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                {{ end }}
                                                {{ end }}
                                            {{ end }}
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
       </div>
      {{ template "footer" }}
    </div>
  </div>
  <input name="_csrf" id="_csrf" value="{{._csrf}}" type="hidden" >
  <input name="promotion" id="promotion_id" value="{{.detail.ID}}" type="hidden" >
  {{ template "script" }}

  <script>
      (function ($) {
          $("#create").click(function () {
            Swal.fire({
                title: '<strong>Create <u>{{.detail.PromType}}</u></strong>',
                icon: 'info',
                html:
                   `
                   <form method="{{.method}}" class="text-left" name="create-promotion" >
                    <div class="col-md-12 mt-2">
                        <div class="form-group">
                            <label class="bmd-label-floating" >service</label>
                            <select name="employee-serviceType" class="form-control" data-style="btn btn-link" id="chat_channel_id">
                                <option value="">choose chat channel </option>
                                {{ with .chatChannels }}
                                {{ range . }}
                                    <option value="{{.ID}}">{{.ChaName}}</option>
                                {{ end }}
                                {{ end }}
                            </select>
                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">StartDate</label>
                            <input name="StartDate"  value="" id="StartDate" type="date" class="form-control" >
                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">EndDate</label>
                            <input name="EndDate" value="" id="EndDate" type="date" class="form-control" >
                        </div>
                    </div>
                   <div class="col-md-12 mt-2">
                        <div class="form-group">
                            <label class="bmd-label-floating">Amount</label>
                            <input name="Amount" value="" id="Amount" type="text" class="form-control" >
                        </div>
                    </div>
                    <div class="col-md-12 mt-2">
                        <div class="form-group">
                            <label class="bmd-label-floating" >Condition</label>
                            <textarea name="Condition" id="Condition" type="text" class="form-control" ></textarea>
                        </div>
                    </div>
                    </form>
                   `,
                showCloseButton: true,
                showCancelButton: true,
                focusConfirm: false,
                confirmButtonText:
                    'Submit',
                confirmButtonAriaLabel: 'Thumbs up, great!',
                cancelButtonAriaLabel: 'Thumbs down'
            }).then(result => {
                if (result.value) {
                    let proID = $("#promotion_id").val()

                    let _csrf = $("#_csrf").val()
                    let StartDate = $("#StartDate").val()
                    let EndDate = $("#EndDate").val()
                    let Amount = $("#Amount").val()
                    let chat_channel_id = $("#chat_channel_id").val()
                    let Condition = $("#Condition").val()

                    let data = new FormData()
                    data.append("_csrf", _csrf)
                    data.append("chat_channel_id", chat_channel_id)
                    data.append("start_date", StartDate)
                    data.append("end_date", EndDate)
                    data.append("amount", Amount)
                    data.append("condition", Condition)

                    fetch(`/admin/promotion/${proID}`, {
                        method: "POST",
                        body: data,
                    }).then(res => {
                        if (res.status !== 201) {
                            throw ""
                        }
                        return res.json()
                    }).then(data => {
                        let type = ""
                        if (data.data.vouchers !== null) {
                            type = "vouchers"
                        } else {
                            type = "coupons"
                        }
                        Swal.fire("success", "", "success").then(result => {
                            $("#body-child").append(`
                            <tr name="row_${data.data[type][0].ID}">
                                <td>${data.chat_channel.cha_name}</td>
                                <td><input type="checkbox" checked data-toggle="toggle" checked="${data.data[type][0].is_active}"></td>
                                <td>${data.data[type][0].prom_start_time}</td>
                                <td>${data.data[type][0].prom_end_time}</td>
                                <td>${data.data[type][0].prom_amount}</td>
                                <td>${data.data[type][0].prom_condition}</td>
                                <td class="td-actions text-right">
                                    <button value="${data.data[type][0].ID}" type="button" rel="tooltip" class="btn btn-success">
                                        <i class="material-icons">settings_applications</i>
                                    </button>
                                    <button value="${data.data[type][0].ID}" name="remove" type="button" rel="tooltip" class="btn btn-danger">
                                        <i class="material-icons">close</i>
                                    </button>
                                </td>
                            </tr>
                            `)
                        })
                    }).catch(err => {
                        Swal.fire("fial", "", "warning")
                    })
                }
            })
          })
          $("input[type='checkbox']").change(function () {
              let chacked = $(this).attr("checked")
              let id = $(this).val()

              let _csrf = $("#_csrf").val()
              let proID = $("#promotion_id").val()
              if (chacked === undefined) {
                chacked = true
              }
              let data = new FormData()
              data.append("_csrf", _csrf)
              data.append("chacked", chacked)
              data.append("chat_channel_id", id)
              fetch(`/admin/promotion/${proID}/register`, {
                  method,
                  body: data
              }).then(res => {
                  if (res.status !== 201) {
                    throw ""
                  }
                  return res.json()
              }).then(data => {
                Swal.fire("success", "", "success").then(result => {
                    $("body-child")
                })
              }).catch(err => {
                Swal.fire("fial", "", "warning")
              })
          })
      })(jQuery)
  </script>

</body>

</html>
{{end}}