
{{define "provider-service-detail"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <input type="hidden" id="_csrf" value="{{._csrf}}" />
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
        {{ template "navbar" .title }}
        <div class="content">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header  card-header-primary d-flex justify-content-between">
                            <h4 class="card-title ">{{ .detail.ProvName }}</h4>
                            <a href="/admin/time_slot/{{ .detail.ID }}/create">
                                <button class="btn btn-info">
                                  <i class="material-icons">add</i>
                                  Add time slot
                                </button>
                            </a>
                        </div>
                        {{ with .detail.ProviderServices }}
                        {{ range . }}
                            <div class="card-body">
                                {{ .Service.SerName}}
                                <hr/>   
                                <div class="row m-0 p-0">
                                    {{ $length := len .TimeSlots }} {{ if eq $length 0 }}
                                        <h4 >ไม่ไม่มีตารางเวลา</h4>
                                    {{ else }}
                                        <div class="table-responsive">
                                            <table class="table">
                                              <thead class=" text-primary">
                                                   <th>Time Start</th>
                                                   <th>Time End</th>
                                                   <th>Time Day</th>
                                                   <th>Time Amount</th>
                                                   <th>Time Active</th>
                                                    <th></th>
                                              </thead>
                                              <tbody>
                                                {{ with .TimeSlots }}
                                                {{ range . }}
                                                <tr name="row_{{ .ID }}">
                                                    <td>{{ .TimeStart }}</td>
                                                    <td>{{ .TimeEnd }}</td>
                                                    <td>{{ .TimeDay }}</td>
                                                    <td>{{ .TimeAmount }}</td>
                                                    <td><input type="checkbox" checked data-toggle="toggle" checked="{{ .TimeActive }}"></td>
                                                    <td>
                                                        <button type="button" rel="tooltip" class="btn btn-warning">
                                                            <i class="material-icons">edit</i>
                                                        </button>
                                                        <button value="{{ .ID }}" name="remove"  type="button" rel="tooltip" class="btn btn-danger">
                                                            <i class="material-icons">close</i>
                                                        </button>
                                                    </td>
                                                </tr>
                                                {{ end }}
                                                {{ end }}
                                              </tbody>
                                            </table>
                                          </div>
                                    {{ end }}
                                </div>
                            </div>
                        {{ end }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
        {{ template "footer" }}
    </div>
  </div>
 
  {{ template "script" }}
    <script>
        (function ($) {
            
        })(jQuery);
    </script>
</body>

</html>

{{end}}
