
{{define "service-form"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
    <div class="wrapper ">
    {{ template "sidebar" .base }}
        <div class="main-panel">
            {{ template "navbar" .title }}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h4 class="card-title">service</h4>
                                        <p class="card-category">Complete your service</p>
                                    </div>
                                    <div class="card-body">
                                        <form name="create-service" >
                                            <input id="_csrf" name="_csrf" value="{{._csrf}}" type="hidden" class="form-control" >
                                            <div class="row">
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >Name</label>
                                                        <input name="Name" id="Name" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >Detail</label>
                                                        <input name="Detail" id="Detail" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >Price</label>
                                                        <input name="Price" id="Price" type="text" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <div class="form-group">
                                                        <label class="bmd-label-floating" >Time</label>
                                                        <input name="Time" id="Time" type="time" class="form-control" >
                                                    </div>
                                                </div>
                                                <div class="col-md-12 mt-2">
                                                    <input id="Image" name="Image" type="file">
                                                    <p><strong>Note:</strong> Choose any file on your computer and its name will be displayed in an alert dialog box.</p>
                                                </div>
                                            </div>
                                            <input type="submit" rel="tooltip" value="Submit" class="btn btn-success">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ template "footer" }}
            </div>
        </div>
    </div>
  {{ template "script" }}
  <script>
    (function ($) {
        const toBase64 = file => new Promise((resolve, reject) => {
            const reader = new FileReader();
            reader.readAsDataURL(file);
            reader.onload = () => resolve(reader.result);
            reader.onerror = error => reject(error);
        });
        $("form[name='create-service']").validate({
            rules: {
                Name: {
                    required: true
                },
                Detail: {
                    required: true
                },
                Price: {
                    required: true
                },
                Image: {
                    required: true
                },
            },
            messages: {
                Name: {
                    required: "Please enter a valid Name"
                },
                Detail: {
                    required: "Please enter a valid Detail"
                },
                Price: {
                    required: "Please enter a valid Price"
                },
                Image: {
                    required: "Please enter a valid Image"
                },
            },
            submitHandler: function(form) {
                let _csrf = $("#_csrf").val()
                let Name = $("#Name").val()
                let Detail = $("#Detail").val()
                let Price = $("#Price").val()
                let Time = $("#Time").val()
                let Image = $("#Image")
                let data = [] 
                let encodedKey = encodeURIComponent("_csrf");
                let encodedValue = encodeURIComponent(_csrf);
                let nameEncodedKey = encodeURIComponent("name");
                let nameEncodedValue = encodeURIComponent(Name);
                let detailEncodedKey = encodeURIComponent("detail");
                let detailEncodedValue = encodeURIComponent(Detail);
                let priceEncodedKey = encodeURIComponent("price");
                let priceEncodedValue = encodeURIComponent(Price);
                let imageEncodedKey = encodeURIComponent("file");
                let timeEncodedKey = encodeURIComponent("time");
                let timeEncodedValue = encodeURIComponent(Time);

                toBase64(Image[0].files[0]).then(base64Image => {
                    Image = JSON.stringify(base64Image)
                    let imageEncodedValue = encodeURIComponent(Image);
                    data.push(encodedKey + "=" + encodedValue)
                    data.push(nameEncodedKey + "=" + nameEncodedValue)
                    data.push(detailEncodedKey + "=" + detailEncodedValue)
                    data.push(priceEncodedKey + "=" + priceEncodedValue)
                    data.push(imageEncodedKey + "=" + imageEncodedValue)
                    data.push(timeEncodedKey + "=" + timeEncodedValue)
                    data = data.join("&");
                    fetch(window.location.href, {
                        method: "POST", 
                        headers: {"Content-Type": "application/x-www-form-urlencoded"},
                        body: data
                    })
                    .then(res => {
                        if (res.status === 201) Swal.fire("success", "", "success")
                        return res.json()
                    })
                    .then(json => {
                        Swal.fire("success", "", "success").then(result => {
                            window.location.href = json.redirect
                        })
                    })
                    .catch(err => Swal.fire("fial", "", "warning"))
                }) 
            }
        })
        
    })(jQuery)
  </script>
</body>

</html>

{{end}}
