{{define "service-list"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
           <div class="row">
             <div class="col-md-12">
               <div class="card">
                  <div class="card-header card-header-primary d-flex justify-content-between">
                    <h4 class="card-title ">service list</h4>
                    <a href="/admin/service/create">
                      <button class="btn btn-info">
                        <i class="material-icons">add</i>
                        Create
                      </button>
                    </a>
                  </div>
                 <div class="card-body">
                   <div class="table-responsive">
                     <table class="table">
                       <thead class=" text-primary">
                        <th>Name</th>
                        <th>Price</th>
                        <th>Image</th>
                        <th>Create At</th>
                        <th>Avtive</th>
                        <th></th>
                       </thead>
                       <tbody>
                        {{if not .list}}<tr><td colspan="8" class="text-center">No content</td></tr> {{end}}
                         {{ with .list }}
                           {{ range . }}
                             <tr name="row_{{ .ID }}">
                                <td>{{.SerName}}</td>
                                <td>{{.SerPrice}}</td>
                                <td><img width="32" height="32" class="img-fluid" src="{{.SerImage}}"></td>
                                <td>{{ .CreatedAt.Format "Mon Jan 2 2006" }}</td>
                                <td><input type="checkbox" value="{{ .ID }}" data-toggle="toggle" checked="{{.SerActive}}"></td>
                                <td class="td-actions text-right">
                                    <a href="/admin/service/{{ .ID }}">
                                      <button type="button" rel="tooltip" class="btn btn-success">
                                          <i class="material-icons">person</i>
                                      </button>
                                    </a>
                                    <a href="/admin/service/{{ .ID }}/edit">
                                      <button type="button" rel="tooltip" class="btn btn-warning">
                                          <i class="material-icons">edit</i>
                                      </button>
                                    </a>
                                      <button value="{{ .ID }}" name="remove"  type="button" rel="tooltip" class="btn btn-danger">
                                          <i class="material-icons">close</i>
                                      </button>
                                </td>
                             </tr>
                           {{ end }} 
                         {{ end }}
                       </tbody>
                     </table>
                     <div class="row p-0 m-0">
                      <div class="ml-auto" name="pagination">
                        {{ template "pagination" .pagination }}
                      </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
      {{ template "footer" }}
    </div>
    <input name="_csrf" id="_csrf" value="{{._csrf}}" type="hidden" >
  </div>
  {{ template "script" }}
  <script>
      (function ($) {

        $("div[name='pagination'] nav ul.pagination li").each(function () {
          $(this).click(() => {
            window.location.href = `/admin/service?page=${$(this).val()- 1}&limit=10`
          })
        })

        $("input[type='checkbox']").change(function() {
          let id = $(this).val()

          let _csrf = $("#_csrf").val()
          let data = new URLSearchParams()

          data.append("_csrf", _csrf)
          data.append("ser_acive", this.checked)
                  
          fetch(`/admin/service/${id}`, {
              body: data,
              method: "PACTH"
              }).then(res => {
              return res.json()
              }).then(json => {
              Swal.fire("success", "", "success")
              }).catch(err => {
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Something went wrong!',
                  footer: '<a href>Why do I have this issue?</a>'
                }) 
          })
        })

        $("button[name='remove']").click(function () {
          let id = $(this).val()
          let data = new FormData()
          let _csrf = $("#_csrf").val()
          data.append("_csrf", _csrf)
          Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
          }).then(result => {
            if (result) {
              fetch(`/admin/service/${id}`, {
                body: data,
                method: "DELETE"
              }).then(res => {
                return res.json()
              }).then(json => {
                Swal.fire("success", "", "success").then(result => {
                  $(`tr[name='row_${id}']`).remove()
                })
              }).catch(err => {
                Swal.fire({
                  icon: 'error',
                  title: 'Oops...',
                  text: 'Something went wrong!',
                  footer: '<a href>Why do I have this issue?</a>'
                })        
              })
            }
          })
          return 
        })
      })(jQuery)
  </script>
</body>

</html>
{{end}}