{{define "service-detail"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
            <div class="row">
                <div class="col-md-4">
                    <div class="card card-profile">
                        <div class="card-avatar">
                            <a href="#pablo">
                                <img class="img" src="{{ .detail.SerImage }}" />
                            </a>
                        </div>
                        <div class="card-body">
                            <h6 class="card-category text-gray">{{ .detail.SerName }}</h6>
                            <h6 class="card-category text-gray">{{ .detail.SerPrice }}</h6>
                            <h6 class="card-category text-gray">{{ .detail.SerDetail }}</h6>
                            <h6 class="card-category text-gray"><input type="checkbox" data-toggle="toggle" checked="{{.detail.SerActive}}"></h6>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-warning"><i class="material-icons">edit</i>edit</button>
                                <button type="button" class="btn btn-danger"><i class="material-icons">delete</i>delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
       </div>
      {{ template "footer" }}
    </div>
  </div>
  <input id="_csrf" name="_csrf" value="{{._csrf}}" type="hidden" >
  {{ template "script" }}
  <script>
        (function ($) {
              $("input[type='checkbox']").change(function() {
              let id = $(this).val()
  
              let _csrf = $("#_csrf").val()
              let data = new URLSearchParams()
  
              data.append("_csrf", _csrf)
              data.append("plac_acive", this.checked)
                      
              fetch(`/admin/place_chatchannel/${id}`, {
                  body: data,
                  method: "PACTH"
                  }).then(res => {
                  return res.json()
                  }).then(json => {
                  Swal.fire("success", "", "success")
                  }).catch(err => {
                  Swal.fire("success", "", "success")          
              })
          })
        })(jQuery)
    </script>
</body>

</html>
{{end}}