
{{define "setting"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
           <div class="row">
             <div class="col-md-12">
               <div class="card">
                 <div class="card-header card-header-primary">
                   <h4 class="card-title ">Account Detail</h4>
                 </div>
                 <div class="card-body">
                    <form name="create-account" method="{{.method}}" >
                        <input name="_csrf" id="_csrf" value="{{._csrf}}" type="hidden" >
                        <div class="row">
                            <div class="col-md-12 mt-2">
                                <div class="form-group">
                                    <label class="bmd-label-floating" >AccProjectID</label>
                                    <input name="AccProjectID" value="{{.detail.AccProjectID}}" id="AccProjectID" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="form-group">
                                    <label class="bmd-label-floating" >AccLang</label>
                                    <input name="AccLang" value="{{.detail.AccLang}}" id="AccLang" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="form-group">
                                    <label class="bmd-label-floating" >AccTimeZone</label>
                                    <input name="AccTimeZone" value="{{.detail.AccTimeZone}}" id="AccTimeZone" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="form-group">
                                    <label class="bmd-label-floating" >AccName</label>
                                    <input name="AccName" value="{{.detail.AccName}}" id="AccName" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                                <div class="form-group">
                                    <label class="bmd-label-floating" >AccType</label>
                                    <input name="AccType" value="{{.detail.AccType}}" id="AccType" class="form-control">
                                </div>
                            </div>
                            <div class="col-md-12 mt-2">
                              {{ if .detail.AccAuthJSONFilePath }}
                                <form method="get" action="file.doc">
                                  <input type="hidden" name="AccAuthJSONFilePath" id="AccAuthJSONFilePath" value="{{.detail.AccAuthJSONFilePath}}">
                                  <button class="btn btn-success" type="submit">Download Auth JSON File Path</button>
                                  <button id="btn-delete-file" type="button" rel="tooltip" class="btn btn-danger button-wrapper">delete</button>
                               </form>                                               
                              {{ else }}
                                  <input id="AccAuthJSONFilePath" name="AccAuthJSONFilePath" type="file">
                                  <p><strong>Note:</strong> Choose any file on your computer and its name will be displayed in an alert dialog box.</p>
                              {{ end }}
                            </div>
                        </div>
                        <input type="submit" rel="tooltip" value="Submit" class="btn btn-success">
                    </form>
                 </div>
               </div>
             </div>
             <div class="col-md-12">
               <div class="card">
              <div class="card-header card-header-primary">
                <h4 class="card-title ">Setting List</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                     <th>Name</th>
                     <th>Value</th>
                     <th>Detail</th>
                     <th>create at</th>
                     <th></th>
                    </thead>
                    <tbody>
                     {{if not .detail.Settings}}<tr><td colspan="11" class="text-center">No content</td></tr> {{end}}
                      {{ with .detail.Settings }}
                        {{ range . }}
                         <tr name="row_{{ .ID }}">
                           <td>{{.Name}}</td>
                           <td>{{.Value}}</td>
                           <td>{{.Detail}}</td>
                           <td>{{ .CreatedAt.Format "Mon Jan 2 2006" }}</td>
                           <td class="td-actions text-right">
                             <a href="/admin/setting/{{ .ID }}/edit">
                               <button type="button" rel="tooltip" class="btn btn-warning">
                                   <i class="material-icons">edit</i>
                               </button>
                             </a>
                           </td>
                         </tr>
                        {{ end }} 
                      {{ end }}
                    </tbody>
                  </table>
                  <div class="row p-0 m-0">
                   <div class="ml-auto" name="pagination">
                     {{ template "pagination" .pagination }}
                   </div>
                  </div>
                </div>
              </div>
            </div>
             </div>
           </div>
         </div>
       </div>
      {{ template "footer" }}
    </div>
  </div>
  {{ template "script" }}
  <script>
    (function () {
      const toBase64 = file => new Promise((resolve, reject) => {
        const reader = new FileReader()
        reader.readAsDataURL(file)
        reader.onload = () => resolve(reader.result)
        reader.onerror = error => reject(error)
      })
      const onSubmit = (data) => {
            data = data.join("&")
            let method = $("form[name='create-account']").attr("method")
            fetch(window.location.href, {
                method, 
                headers: {"Content-Type": "application/x-www-form-urlencoded"},
                body: data
            })
            .then(res => {
                if (res.status !== 201){  
                    throw ""
                }
                return res.json()
            })
            .then(json => {
                Swal.fire("success", "", "success").then(result => {
                    window.location.href = json.redirect
                })
            })
            .catch(err => Swal.fire("fial", "", "warning"))
        }

        $("form[name='create-account']").validate({
            rules: {
              AccProjectID: {required: true },
              AccAuthJSONFilePath: {required: true },
              AccLang: {required: true },
              AccTimeZone: {required: true },
              AccName: {required: true },
              AccType: {required: true },
            },
            messages: {
              AccProjectID: {messages:"Please enter a valid AccProjectID"},
              AccAuthJSONFilePath: {messages:"Please enter a valid AccAuthJSONFilePath"},
              AccLang: {messages:"Please enter a valid AccLang"},
              AccTimeZone: {messages:"Please enter a valid AccTimeZone"},
              AccName: {messages:"Please enter a valid AccName"},
              AccType: {messages:"Please enter a valid AccType"},
            },
            submitHandler: function(form) {
                let _csrf = $("#_csrf").val()
                let data = []
                let AccProjectID = $(".AccProjectID").val()
                let AccAuthJSONFilePath = $(".AccAuthJSONFilePath")
                let AccLang = $(".AccLang").val()
                let AccTimeZone = $(".AccTimeZone").val()
                let AccName = $(".AccName").val()
                let AccType = $(".AccType").val() 

                let encodedKey = encodeURIComponent("_csrf");
                let encodedValue = encodeURIComponent(_csrf);
                let AccProjectIDEncodeKey = encodeURIComponent("AccProjectID")
                let AccProjectIDEncodeValue = encodeURIComponent(AccProjectID)  
                let AccLangEncodeKey = encodeURIComponent("AccLang")
                let AccLangEncodeValue = encodeURIComponent(AccLang)  
                let AccTimeZoneEncodeKey = encodeURIComponent("AccTimeZone")
                let AccTimeZoneEncodeValue = encodeURIComponent(AccTimeZone)  
                let AccNameEncodeKey = encodeURIComponent("AccName")
                let AccNameEncodeValue = encodeURIComponent(AccName)  
                let AccTypeEncodeKey = encodeURIComponent("AccType")
                let AccTypeEncodeValue = encodeURIComponent(AccType) 
                data.push(encodedKey + "=" + encodedValue)
                data.push(encodedKey+ "="+ encodedValue)
                data.push(AccProjectIDEncodeKey+ "="+ AccProjectIDEncodeValue)
                data.push(AccLangEncodeKey+ "="+ AccLangEncodeValue)
                data.push(AccTimeZoneEncodeKey+ "="+ AccTimeZoneEncodeValue)
                data.push(AccNameEncodeKey+ "="+ AccNameEncodeValue)
                data.push(AccTypeEncodeKey+ "="+ AccTypeEncodeValue)
                
                if (AccAuthJSONFilePath[0].files.length !== 0) {    
                    toBase64(Image[0].files[0]).then(base64Image => {
                        imageEncodedValue = encodeURIComponent(base64Image)
                        let imageEncodedKey = encodeURIComponent("file") 
                        data.push(imageEncodedKey + "=" + imageEncodedValue) 
                        onSubmit(data)
                    })
                } else {
                  data.append("AccAuthJSONFilePath", AccAuthJSONFilePath)
                  onSubmit(data)
                }
            }})
    })(jQuery)
  </script>
</body>

</html>

{{end}}
