{{ define "sidebar" }}
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="./assets/img/sidebar-1.jpg">
        <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
            Chatbot
        </a>
        </div>
        <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item {{ if (eq .title "dashboard") }}active{{ end }}">
                <a class="nav-link" href="/admin/dashboard">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "Book") }}active{{ end }}">
                <a class="nav-link" href="/admin/book">
                <i class="material-icons">book</i>
                <p>Booking List</p>
                </a>
            </li> 
            <li class="nav-item {{ if (eq .title "chat_channel") }}active{{ end }}">
                <a class="nav-link" href="/admin/chat_channel">
                    <i class="material-icons">apps</i>
                    <p>Chat Channel</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "customer") }}active{{ end }}">
                <a class="nav-link" href="/admin/customer">
                    <i class="material-icons">face</i>
                    <p>Customer</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "service") }}active{{ end }}">
                <a class="nav-link" href="/admin/service">
                    <i class="material-icons">local_grocery_store</i>
                    <p>service</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "promotion") }}active{{ end }}">
                <a class="nav-link" href="/admin/promotion">
                    <i class="material-icons">card_giftcard</i>
                    <p>Promotion</p>
                </a>
            </li>
                <li class="nav-item {{ if (eq .title "chat_answer") }}active{{ end }}">
                    <a class="nav-link" href="/admin/chat_answer">
                    <i class="material-icons">adb</i>
                    <p>Chat Answer</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "user") }}active{{ end }}">
                <a class="nav-link" href="/admin/user">
                    <i class="material-icons">person</i>
                    <p>Admin</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "rich-menu") }}active{{ end }}">
                <a class="nav-link" href="/admin/richmenu">
                    <i class="material-icons">menu_book</i>
                    <p>Rich Menu</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "LIFF") }}active{{ end }}">
                <a class="nav-link" href="/admin/LIFF">
                    <i class="material-icons">web_asset</i>
                    <p>LIFF</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "place") }}active{{ end }}">
                <a class="nav-link" href="/admin/place">
                    <i class="material-icons">meeting_room</i>
                    <p>place</p>
                </a>
            </li> 
            <li class="nav-item {{ if (eq .title "setting") }}active{{ end }}">
                <a class="nav-link" href="/admin/setting">
                    <i class="material-icons">settings_applications</i>
                    <p>Setting</p>
                </a>
            </li> 
        </ul>
        </div>
    </div>
{{ end }}