{{ define "sidebar" }}
    <div class="sidebar" data-color="purple" data-background-color="white" data-image="/img/sidebar-1.jpg">
        <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-normal">
            Chatbot
        </a>
        </div>
        <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="nav-item {{ if (eq .title "dashboard") }}active{{ end }}">
                <a class="nav-link" href="/admin/dashboard">
                    <i class="material-icons">dashboard</i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "transaction") }}active{{ end }}">
                <a class="nav-link" href="/admin/transaction">
                    <i class="material-icons">book</i>
                    <p>transaction</p>
                </a>
            </li> 
            <li class="nav-item {{ if (eq .title "chat_channel") }}active{{ end }}">
                <a class="nav-link" href="/admin/chat_channel">
                    <i class="material-icons">apps</i>
                    <p>Chat Channel</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "customer") }}active{{ end }}">
                <a class="nav-link" href="/admin/customer">
                    <i class="material-icons">face</i>
                    <p>Customer</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "customer_type") }}active{{ end }}">
                <a class="nav-link" href="/admin/customer_type">
                    <i class="material-icons">supervised_user_circle</i>
                    <p>Customer Type</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "service") }}active{{ end }}">
                <a class="nav-link" href="/admin/service">
                    <i class="material-icons">local_grocery_store</i>
                    <p>service</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "promotion") }}active{{ end }}">
                <a class="nav-link" href="/admin/promotion">
                    <i class="material-icons">card_giftcard</i>
                    <p>Promotion</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "chat_answer") }}active{{ end }}">
                <a class="nav-link" href="/admin/chat_answer">
                    <i class="material-icons">adb</i>
                    <p>Chat Answer</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "user") }}active{{ end }}">
                <a class="nav-link" href="/admin/users">
                    <i class="material-icons">person</i>
                    <p>Admin</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "rich-menu") }}active{{ end }}">
                <a class="nav-link" href="/admin/richmenu">
                    <i class="material-icons">menu_transaction</i>
                    <p>Rich Menu</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "LIFF") }}active{{ end }}">
                <a class="nav-link" href="/admin/LIFF">
                    <i class="material-icons">web_asset</i>
                    <p>LIFF</p>
                </a>
            </li>
            <li class="nav-item {{ if (eq .title "place") }}active{{ end }}">
                <a class="nav-link" href="/admin/place">
                    <i class="material-icons">meeting_room</i>
                    <p>place</p>
                </a>
            </li> 
            <li class="nav-item {{ if (eq .title "employee") }}active{{ end }}">
                <a class="nav-link" href="/admin/employee">
                    <i class="material-icons">insert_emoticon</i>
                    <p>employee</p>
                </a>
            </li> 
            <li class="nav-item {{ if (eq .title "upload_file") }}active{{ end }}">
                <a class="nav-link" href="/admin/upload_file">
                    <i class="material-icons">insert_drive_file</i>
                    <p>file</p>
                </a>
            </li> 
            <li class="nav-item {{ if (eq .title "setting") }}active{{ end }}">
                <a class="nav-link" href="/admin/setting">
                    <i class="material-icons">settings_applications</i>
                    <p>Setting</p>
                </a>
            </li> 
        </ul>
        </div>
    </div>
{{ end }}