{{define "sub-service-form"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
    <div class="wrapper ">
    {{ template "sidebar" .base }}
        <div class="main-panel">
            {{ template "navbar" .title }}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h4 class="card-title">Add Sub service</h4>
                                    </div>
                                    <div class="card-body">
                                        <form name="create-sub-service" >
                                            <input id="_csrf" name="_csrf" value="{{._csrf}}" type="hidden" class="form-control" >
                                            <div class="col-md-12 mt-2">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">Start</label>
                                                    <input name="Start" id="Start" type="time" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-2">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating">End</label>
                                                    <input name="End" id="End" type="time" class="form-control" >
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-2">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Day</label>
                                                    <select class="form-control " data-style="btn btn-link" id="Day">
                                                        <option value="0">Sundays</option>
                                                        <option value="1">Mondays</option>
                                                        <option value="2">Tuesdays</option>
                                                        <option value="3">Wednesdays</option>
                                                        <option value="4">Thursdays</option>
                                                        <option value="5">Fridays</option>
                                                        <option value="6">Saturdays</option>
                                                    </select>
                                                </div>
                                            </div>
                                            <div class="col-md-12 mt-2">
                                                <div class="form-group">
                                                    <label class="bmd-label-floating" >Amount</label>
                                                    <input name="Amount" id="Amount" type="text" class="form-control" >
                                                </div>
                                            </div>
                                            <input type="submit" value="Submit" class="btn btn-success" >
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ template "footer" }}
            </div>
        </div>
    </div>
  {{ template "script" }}
    <script>
        (function ($) {
            let d = new Date(),        
                h = d.getHours(),
                m = d.getMinutes();
            if(h < 10) h = '0' + h; 
            if(m < 10) m = '0' + m; 
            $('input[type="time"][value="00:00"]').each(function(){ 
                $(this).attr({'value': h + ':' + m});
            });
            $("form[name='create-sub-service']").validate({
                rules: {
                    Start: {
                        required: true
                    },
                    End: {
                        required: true
                    },
                    Type: {
                        required: true
                    },
                    Day: {
                        required: true
                    },
                    Amount: {
                        required: true
                    }
                },
                messages: {
                    Start: {
                        required: "Please enter a valid required"
                    },
                    End: {
                        required: "Please enter a valid required"
                    },
                    Type: {
                        required: "Please enter a valid required"
                    },
                    Day: {
                        required: "Please enter a valid required"
                    },
                    Amount: {
                        required: "Please enter a valid required"
                    }
                },
                submitHandler: function(form) {
                    let _csrf = $("#_csrf").val() 
                    let Start = $("#Start").val() 
                    let End = $("#End").val() 
                    let Amount = $("#Amount").val() 
                    let Type = $("#Type").val()
                    let Day = $("#Day").val()
                    let data = new URLSearchParams();
                    data.append("_csrf", _csrf)
                    data.append("start", Start)
                    data.append("end", End)
                    data.append("amount", Amount)
                    data.append("day", Day)
                    fetch(window.location.href, {
                        body: data, 
                        method: "POST"
                    })
                    .then(res => {
                        if (res.status === 201) Swal.fire("success", "", "success") 
                        return res.json()
                    })
                    .then(json => window.location.href = json.redirect)
                    .catch(err => Swal.fire("fial", "", "warning"))
                }
            })
            
       })(jQuery)
    </script>
</body>

</html>

{{end}}
