
{{define "time-slot-form"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
    <div class="wrapper ">
    {{ template "sidebar" .base }}
        <div class="main-panel">
            {{ template "navbar" .title }}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                            <div class="col-md-7">
                                <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h4 class="card-title">{{.mode}} time-slot</h4>
                                    </div>
                                    <div class="card-body">
                                        <form class="form-group" name="create-time-slot" method="{{.method}}">
                                            <input name="_csrf" id="_csrf" value="{{._csrf}}" type="hidden" >
                                            <div>
                                                <label class="bmd-label-floating" >day</label>
                                            </div>
                                            <div class="form-check form-check-inline" id="form-day" name="day-weeks-list">
                                                {{range $i, $day := .DayWeeks}}
                                                    <div class="form-check mx-2">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" name="{{ $day }}" value='{ "id": {{$i}}, "name": "{{ $day }}" }'>
                                                            {{ $day }}
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                {{ end }}
                                            </div>
                                            <div id="input-service-list">       
                                            </div>
                                            <input type="submit" rel="tooltip" value="Submit" class="btn btn-success">

                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ template "footer" }}
            </div>
        </div>
    </div>
  {{ template "script" }}
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script>

    (function ($) {
        let rules = {}
        let messages = {}
        let hour = (day, value) =>  `<div class="form-group col-md-6">
                        <label class="bmd-label-floating" >hour</label>
                        <select name="hour-${day}" class="form-control" id="hour-${day}" data-style="btn btn-link" >
                            <option value="">-</option>
                            <option value="{hour: 0, day: ${value}}">00</option>
                            <option value="{hour: 1, day: ${value}}">01</option>
                            <option value="{hour: 2, day: ${value}}">02</option>
                            <option value="{hour: 3, day: ${value}}">03</option>
                            <option value="{hour: 4, day: ${value}}">04</option>
                            <option value="{hour: 5, day: ${value}}">05</option>
                            <option value="{hour: 6, day: ${value}}">06</option>
                            <option value="{hour: 7, day: ${value}}">07</option>
                            <option value="{hour: 8, day: ${value}}">08</option>
                            <option value="{hour: 9, day: ${value}}">09</option>
                            <option value="{hour: 10, day: ${value}}">10</option>
                            <option value="{hour: 11, day: ${value}}">11</option>
                            <option value="{hour: 12, day: ${value}}">12</option>
                            <option value="{hour: 13, day: ${value}}">13</option>
                            <option value="{hour: 14, day: ${value}}">14</option>
                            <option value="{hour: 15, day: ${value}}">15</option>
                            <option value="{hour: 16, day: ${value}}">16</option>
                            <option value="{hour: 17, day: ${value}}">17</option>
                            <option value="{hour: 18, day: ${value}}">18</option>
                            <option value="{hour: 19, day: ${value}}">19</option>
                            <option value="{hour: 20, day: ${value}}">20</option>
                            <option value="{hour: 21, day: ${value}}">21</option>
                            <option value="{hour: 22, day: ${value}}">22</option>
                            <option value="{hour: 23, day: ${value}}">23</option>
                        </select>
                    </div>`
        let minute = (day, value) => `<div class="form-group col-md-6">
                        <label class="bmd-label-floating" >minute</label>
                        <select name="minute-${day}" class="form-control" id="minute-${day}" data-style="btn btn-link" >
                            <option value="">-</option>
                            <option value="{minute: 0, day:${value}}">00</option>
                            <option value="{minute: 15, day:${value}}">15</option>
                            <option value="{minute: 30, day:${value}}">30</option>
                            <option value="{minute: 45, day:${value}}">45</option>
                        </select>
                    </div>`
        $("#form-day input[type='checkbox']").each(function( ) {
            $(this).click(function (){
                let checked = $(this).prop("checked")
                let name = $(this).attr('name')
                let value = $(this).val()

                if (checked === true){
                    $("#input-service-list").append(` 
                    <div class="${name}">
                        <label class="bmd-label-floating" >${name}</label>
                        <div class="d-flex">
                            <div class="col-md-6 d-flex">
                                ${hour(`form-${name}`, value)}${minute(`form-${name}`, value)}
                            </div> - 
                            <div class="col-md-6 d-flex">
                                ${hour(`to-${name}`, value)}${minute(`to-${name}`, value)}                                
                            </div>
                        </div>
                    </div>`)
                } else {
                    $(`div .${name}`).remove()
                }
            })
        })
        
        let createTimeslot = $("form[name='create-time-slot']")
        let dayWeeksList = $("#form-day input[type='checkbox']")

        createTimeslot.on("submit", function () {
            debugger
            $("#input-service-list select").each(function( ) {
                let name = $(this).attr('name')
                console.log( $(this).val(), $(this).attr('name'))
                $(this).rules("add", 
                {
                    required:  { required : true },
                    messages:  { required: `Please enyer a valid ${name}`  },
                })
            })

            dayWeeksList.each(function(index) {
                if ($(this).is(":checked")) {
                    // isDayWeekValidateService = $(this).is(":checked")
                    dayWeeksData.push($(this).val())
                }

                if (dayWeeksList.length - 1 === index) {
                    dayWeeksList.rules("add", {   
                        required:  { required : true },
                        messages:  { required: `You must check at least 1 box`  },
                    })
                }
            })
        })

        createTimeslot.validate({
            rules,
            messages,
            submitHandler: function(form) {
                let _csrf = $("#_csrf").val()

                // let encodedKey = encodeURIComponent("_csrf");
                // let encodedValue = encodeURIComponent(_csrf);
                // let timeSlotsEncodedKey = encodeURIComponent("timeSlots");
                // let timeSlotsEncodedValue = encodeURIComponent(JSON.stringify(timeSlotsReq));
                // let data = []

                // data.push(encodedKey + "=" + encodedValue)
                // data.push(timeSlotsEncodedKey + "=" + timeSlotsEncodedValue)
                // data = data.join("&");
                let method = $("form[name='create-time-slot']").attr("method")
                fetch(window.location.href, {
                    method, 
                    headers: {"Content-Type": "application/x-www-form-urlencoded"},
                    body: data
                })
                .then(res => {
                    if (res.status !== 201) {
                        throw ""
                    }
                        return res.json()
                })
                .then(data => {
                    Swal.fire("success", "", "success").then(result => {
                        window.location = data
                    })
                })
                .catch(err => Swal.fire("fial", "", "warning"))
            }
        })
    })(jQuery)
  </script>
</body>

</html>

{{end}}
