
{{define "time-slot-form"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
    <div class="wrapper ">
    {{ template "sidebar" .base }}
        <div class="main-panel">
            {{ template "navbar" .title }}
            <div class="content">
                <div class="container-fluid">
                    <div class="row">
                            <div class="col-md-7">
                                <div class="card">
                                    <div class="card-header card-header-primary">
                                        <h4 class="card-title">{{.mode}} time-slot</h4>
                                    </div>
                                    <div class="card-body">
                                        <form class="form-group" name="create-time-slot" method="{{.method}}">
                                            <input name="_csrf" id="_csrf" value="{{._csrf}}" type="hidden" >
                                            <div>
                                                <label class="bmd-label-floating" >day</label>
                                            </div>
                                            <div class="form-check form-check-inline" id="form-day" name="day-weeks-list">
                                                {{range $i, $day := .DayWeeks}}
                                                    <div class="form-check mx-2">
                                                        <label class="form-check-label">
                                                            <input class="form-check-input" type="checkbox" name="{{ $day }}" value="{{ $i }}">
                                                            {{ $day }}
                                                            <span class="form-check-sign">
                                                                <span class="check"></span>
                                                            </span>
                                                        </label>
                                                    </div>
                                                {{ end }}
                                            </div>
                                            <div id="input-service-list">       
                                            </div>
                                            <input type="submit" rel="tooltip" value="Submit" class="btn btn-success">
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {{ template "footer" }}
            </div>
        </div>
    </div>
  {{ template "script" }}
  <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
  <script>

    (function ($) {
        let rules = {}
        let messages = {}
        let hour = (day, value) =>  {
            return `<div class="form-group col-md-6">
                        <label class="bmd-label-floating" >hour</label>
                        <select name="hour" class="form-control" id="hour-${day}" data-style="btn btn-link" >
                            <option value="">-</option>
                            <option value="00">00</option>
                            <option value="01">01</option>
                            <option value="02">02</option>
                            <option value="03">03</option>
                            <option value="04">04</option>
                            <option value="05">05</option>
                            <option value="06">06</option>
                            <option value="07">07</option>
                            <option value="08">08</option>
                            <option value="09">09</option>
                            <option value="10">10</option>
                            <option value="11">11</option>
                            <option value="12">12</option>
                            <option value="13">13</option>
                            <option value="14">14</option>
                            <option value="15">15</option>
                            <option value="16">16</option>
                            <option value="17">17</option>
                            <option value="18">18</option>
                            <option value="19">19</option>
                            <option value="20">20</option>
                            <option value="21">21</option>
                            <option value="22">22</option>
                            <option value="23">23</option>
                        </select>
                    </div>`
                    }
        let minute = (day, value) => {
            return `<div class="form-group col-md-6">
                        <label class="bmd-label-floating" >minute</label>
                        <select name="minute" class="form-control" id="minute-${day}" data-style="btn btn-link" >
                            <option value="">-</option>
                            <option value="00">00</option>
                            <option value="15">15</option>
                            <option value="30">30</option>
                            <option value="45">45</option>
                        </select>
                    </div>`}
        $("#form-day input[type='checkbox']").each(function( ) {
            $(this).click(function (){
                let checked = $(this).prop("checked")
                let name = $(this).attr('name')
                let value = $(this).val()
                if (checked === true) {
                    $("#input-service-list").append(` 
                    <div class="${name}" name="${value}">
                        <label class="bmd-label-floating" >${name}</label>
                        <div class="d-flex">
                            <div class="col-md-6 d-flex" name="from">
                                ${hour(`form-${name}`, value, )}${minute(`form-${name}`, value)}
                            </div> - 
                            <div class="col-md-6 d-flex" name="to">
                                ${hour(`to-${name}`, value)}${minute(`to-${name}`, value)}                                
                            </div>
                        </div>
                    </div>`)
                } else {
                    $(`div .${name}`).remove()
                }
            })
        })
        
        let createTimeslot = $("form[name='create-time-slot']")
        let dayWeeksList = $("#form-day input[type='checkbox']")
        let dayWeeksData = []
        let timeList = []
        createTimeslot.on("submit", function () {
            let name
            let value
            let isDayWeekValidateService = false
            dayWeeksList.each(function(index) {
                if ($(this).is(":checked")) {
                    isDayWeekValidateService = $(this).is(":checked")
                    dayWeeksData.push(parseInt($(this).val(), 10))
                }

                if (dayWeeksList.length - 1 === index && !isDayWeekValidateService) {
                    dayWeeksList.rules("add", {   
                        required:  { required : true },
                        messages:  { required: `You must check at least 1 box`  },
                    })
                }
            })
            let data = {}
            dayWeeksData.map(day => {
                data = {}
                data.time_day = day
                let hour = ""
                let minute = ""
                data.employee_id = parseInt("{{.employeeID}}", 10)
                $(`#input-service-list div[name=${day}]`).each(function( ) {
                    let dateStart = new Date(0001, 1, 1, 0, 0, 0, 0)
                    $(this).find("div[name='from'] select[name='hour']").each(function () {
                        hour = $(this).val()
                    })
                    $(this).find("div[name='from'] select[name='minute']").each(function () {
                        minute = $(this).val()
                    })
                    dateStart.setHours(parseInt(hour,10))
                    dateStart.setMinutes(parseInt(minute, 10)) 
                    data.time_start = dateStart
                    // data.time_start = data.time_start[1:data.time_start.length -1]
                    // dateStart
                    let dateEnd = new Date(0001, 1, 1, 0, 0, 0, 0)
                    $(this).find("div[name='to'] select[name='hour']").each(function () {
                        hour = $(this).val()
                    })
                    $(this).find("div[name='to'] select[name='minute']").each(function () {
                        minute = $(this).val()
                    })
                    dateEnd.setHours(parseInt(hour,10))
                    dateEnd.setMinutes(parseInt(minute, 10)) 
                    data.time_end = dateEnd
                    // `${hour}:${minute}`
                    // dateEnd 
                    timeList.push(data)
                })
            })
                console.log(timeList)
        })

        createTimeslot.validate({
            rules,
            messages,
            submitHandler: function(form) {
                let _csrf = $("#_csrf").val()
                let data = new FormData()
                data.append("_csrf", _csrf)
                data.append("timeSlots", JSON.stringify(timeList))
                let method = $("form[name='create-time-slot']").attr("method")
                
                fetch(window.location.href, {
                    method,
                    body: data
                })
                .then(res => {
                    dayWeeksData = []
                    timeList = []
                    if (res.status !== 201) {
                        throw ""
                    }
                        return res.json()
                })
                .then(data => {
                    Swal.fire("success", "", "success").then(result => {
                        window.location = data
                    })
                })
                .catch(err => Swal.fire("fial", "", "warning"))
            }
        })
    })(jQuery)
  </script>
</body>

</html>

{{end}}
