
{{define "transaction-detail"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <input type="hidden" id="_csrf" value="{{._csrf}}" />
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
        {{ template "navbar" .title }}
        <div class="content">
            <div class="row">
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-primary d-flex">
                            <h4 class="card-title ">Transaction Detail</h4>
                        </div>
                        <div class="card-body">
                            <div class="row">
                                <div class="col-4">Channel: </div>
                                <div class="col-8">{{.detail.ChatChannel.ChaName}}</div>
                                <div class="col-4">Status: </div>
                                <div class="col-6">{{ if  (eq .detail.TranStatus 0) }} Panding {{ else if (eq .detail.TranStatus 1) }} ApproveBooking {{ else if (eq .detail.TranStatus 2) }} Paid {{ end }}</div>
                                <div class="col-4">CreateAt: </div>
                                <div class="col-8">{{.detail.CreatedAt.Format "Mon Jan 2 2006"}}</div>
                                <div class="col-4">Customer: </div>
                                <div class="col-8">{{ if not .detail.Customer.CusFullName }} {{ .detail.TranLineID }} {{ else }} {{ .detail.Customer.CusFullName }} {{end}} </div>
                                <div class="col-4">Customer Type: </div>
                                <div class="col-8">{{ if not .detail.Customer.CustomerTypeID }} - {{ else }} {{ .detail.Customer.CustomerType.Name }} {{end}} </div>
                            </div>
                            <div class="d-flex w-100">
                                {{ if (eq .detail.Account.AccTransactionType "man") }}
                                    {{if (eq .detail.TranStatus 0) }}
                                    <button id="OK" class="btn btn-success">OK</button>
                                    <button id="Cancel" class="btn btn-danger">Cancel</button>
                                    {{ end }}
                                {{ end }}
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-header card-header-primary d-flex">
                            <h4 class="card-title ">PayMent</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>Date</th>
                                        <th>Amount</th>
                                        <th>PayType</th>
                                        <th>PayAt</th>
                                        <th>CreatedAt</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                        
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary d-flex justify-content-between">
                            <h4 class="card-title ">Service</h4>
                        </div>
                        <div class="card-body">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead class=" text-primary">
                                        <th>Day</th>
                                        <th>Start</th>
                                        <th>To</th>
                                        <th>Employee</th>
                                        <th>Price</th>
                                        <th></th>
                                    </thead>
                                    <tbody>
                                    
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{ template "footer" }}
    </div>
    <input name="_csrf" id="_csrf" value="{{._csrf}}" type="hidden" >
    <input name="id" id="id" value="{{.detail.ID}}" type="hidden" >
  </div>
 
  {{ template "script" }}
    <script>
        (function ($) {
            let id = $("#id").val()
            $("button[name='search'").each(function () {
                $(this).click(function () {

                })
            })

            function handlerStatus (data) {
                return fetch(`/admin/transaction/${id}`, 
                    {
                        method: "PATCH", 
                        body: data
                    })
            } 

            $("#OK").click(function () {
                Swal.fire({
                    title: 'Are you sure?',
                    text: "You won't be able to revert this!",
                    icon: 'warning',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Yes!'
                }).then(result => {
                    if (result.value) {
                        let data = new FormData()
                        let csrf = $("#_csrf").val()
                        data.append("_csrf", csrf)
                        data.append("tran_status", "1")
                        handlerStatus(data).then(res =>{
                            if (res.status !== 200) {
                                throw ""
                            }
                            return res.json()
                        }).then(value => {
                            Swal.fire("success", "", "success")
                        }).catch(err => {
                            Swal.fire({
                                icon: 'error',
                                title: 'Oops...',
                                text: 'Something went wrong!',
                                footer: '<a href>Why do I have this issue?</a>'
                            }) 
                        })
                    }
                })
            })

            $("#Cancel").click(function () {
                Swal.fire({
                    title: 'Reject Booking',
                    input: 'text',
                    inputAttributes: {
                        autocapitalize: 'off'
                    },
                    showCancelButton: true,
                    confirmButtonText: 'Yes!',
                    confirmButtonColor: '#3085d6',
                    showLoaderOnConfirm: true,
                    preConfirm: (text) => {
                        let data = new FormData()
                        let csrf = $("#_csrf").val()
                        data.append("_csrf", csrf)
                        data.append("tran_status", "-1")
                        data.append("tran_remark", text)
                        return handlerStatus(data).then(response => {
                            if (!response.ok) {
                            throw new Error(response.statusText)
                            }
                            return response.json()
                        })
                        .catch(error => {
                            Swal.showValidationMessage(
                            `Request failed: ${error}`
                            )
                        })
                    },
                    allowOutsideClick: () => !Swal.isLoading()
                    }).then((result) => {
                    if (result.value) {
                        
                    }
                })
            })
        })(jQuery);
    </script>
</body>

</html>

{{end}}
