
{{define "user-list"}}
<!DOCTYPE html>
<html lang="en">

{{ template "header" .title }}

<body class="">
  <div class="wrapper ">
   {{ template "sidebar" .base }}
    <div class="main-panel">
      {{ template "navbar" .title }}
      <div class="content">
         <div class="container-fluid">
           <div class="row">
             <div class="col-md-12">
               <div class="card">
                 <div class="card-header card-header-primary d-flex justify-content-between">
                  <h4 class="card-title ">admin list</h4>
                  <a href="/admin/user/create">
                    <button class="btn btn-info">
                      <i class="material-icons">add</i>
                      Create
                    </button>
                  </a>
                 </div>
                 <div class="card-body">
                   <div class="table-responsive">
                     <table class="table">
                       <thead class=" text-primary">
                        <th>No</th>
                        <th>UserName</th>
                        <th>Email</th>
                        <th>PhoneNumber</th>
                        <th>LastName</th>
                        <th>FirstName</th>
                        <th>Admin</th>
                        <th>Create At</th>
                        <th></th>
                       </thead>
                       <tbody>
                        {{if not .list}}<tr><td colspan="8" class="text-center">No content</td></tr> {{end}}
                         {{ with .list }}
                           {{ range . }}
                             <tr>
                               <td></td>
                              <td>{{.UserName}}</td>
                              <td>{{.Email}}</td>
                              <td>{{.PhoneNumber}}</td>
                              <td>{{.LastName}}</td>
                              <td>{{.FirstName}}</td>
                              <td>{{.Admin}}</td>
                               <td>{{ ((.CreatedAt).AddDate 0 1 0).Format "Mon Jan 2 2006" }}</td>
                               <td class="td-actions text-right">
                                  <a href="/admin/user/{{ .ID }}" >
                                    <button type="button" rel="tooltip" class="btn btn-success">
                                      <i class="material-icons">person</i>
                                    </button>
                                  </a>
                                  <a href="/admin/user/{{ .ID }}/edit" >
                                    <button type="button" rel="tooltip" class="btn btn-warning">
                                        <i class="material-icons">edit</i>
                                    </button>
                                  </a>
                                  <a href="/admin/user/{{ .ID }}/delete" >
                                    <button type="button" rel="tooltip" class="btn btn-danger">
                                        <i class="material-icons">close</i>
                                    </button>
                                  </a>
                              </td>
                             </tr>
                           {{ end }} 
                         {{ end }}
                       </tbody>
                     </table>
                     <div class="row p-0 m-0">
                      <div class="ml-auto">
                        {{ template "pagination" .pagination }}
                      </div>
                     </div>
                   </div>
                 </div>
               </div>
             </div>
           </div>
         </div>
       </div>
    {{ template "footer" }}

    </div>
  </div>
  {{ template "script" }}
</body>

</html>

{{end}}
